.clock-num{
	width:100%;
	height:100%;
	background:#fff;
}

.clock-num:after{
	content:'';
	position:absolute;
	width:400px;
	height:20px;
	border-radius:100%;
	left:50%;
	margin-left:-200px;
	bottom:2px;
	z-index:-1;
}


.clock-num .display{
	text-align:center;
	padding: 40px 20px 20px;
	border-radius:6px;
	position:relative;
	height: 54px;
}

.clock-num .date{
	font-size:12px;
	position:absolute;
	width:100%;
	top:10px;
	left:0;
	text-align:center;
	font-size:14px;
}


.clock-num{
	background-color:#fff;
	color:#272e38;
}

.clock-num:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.clock-num .digits div span{
	background-color:#272e38;
	border-color:#272e38;	
}

.clock-num .digits div.dots:before,
.clock-num .digits div.dots:after{
	background-color:#272e38;
}


.clock-num .digits div{
	text-align:left;
	position:relative;
	width: 28px;
	height:50px;
	display:inline-block;
	margin:0 4px;
}

.clock-num .digits div span{
	opacity:0;
	position:absolute;

	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	transition:0.25s;
}

.clock-num .digits div span:before,
.clock-num .digits div span:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	border:5px solid transparent;
}

.clock-num .digits .d1{			height:5px;width:16px;top:0;left:6px;}
.clock-num .digits .d1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
.clock-num .digits .d1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

.clock-num .digits .d2{			height:5px;width:16px;top:24px;left:6px;}
.clock-num .digits .d2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
.clock-num .digits .d2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

.clock-num .digits .d3{			height:5px;width:16px;top:48px;left:6px;}
.clock-num .digits .d3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
.clock-num .digits .d3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

.clock-num .digits .d4{			width:5px;height:14px;top:7px;left:0;}
.clock-num .digits .d4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
.clock-num .digits .d4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

.clock-num .digits .d5{			width:5px;height:14px;top:7px;right:0;}
.clock-num .digits .d5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
.clock-num .digits .d5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

.clock-num .digits .d6{			width:5px;height:14px;top:32px;left:0;}
.clock-num .digits .d6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
.clock-num .digits .d6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

.clock-num .digits .d7{			width:5px;height:14px;top:32px;right:0;}
.clock-num .digits .d7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
.clock-num .digits .d7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}



/* 1 */

.clock-num .digits div.one .d5,
.clock-num .digits div.one .d7{
	opacity:1;
}

/* 2 */

.clock-num .digits div.two .d1,
.clock-num .digits div.two .d5,
.clock-num .digits div.two .d2,
.clock-num .digits div.two .d6,
.clock-num .digits div.two .d3{
	opacity:1;
}

/* 3 */

.clock-num .digits div.three .d1,
.clock-num .digits div.three .d5,
.clock-num .digits div.three .d2,
.clock-num .digits div.three .d7,
.clock-num .digits div.three .d3{
	opacity:1;
}

/* 4 */

.clock-num .digits div.four .d5,
.clock-num .digits div.four .d2,
.clock-num .digits div.four .d4,
.clock-num .digits div.four .d7{
	opacity:1;
}

/* 5 */

.clock-num .digits div.five .d1,
.clock-num .digits div.five .d2,
.clock-num .digits div.five .d4,
.clock-num .digits div.five .d3,
.clock-num .digits div.five .d7{
	opacity:1;
}

/* 6 */

.clock-num .digits div.six .d1,
.clock-num .digits div.six .d2,
.clock-num .digits div.six .d4,
.clock-num .digits div.six .d3,
.clock-num .digits div.six .d6,
.clock-num .digits div.six .d7{
	opacity:1;
}


/* 7 */

.clock-num .digits div.seven .d1,
.clock-num .digits div.seven .d5,
.clock-num .digits div.seven .d7{
	opacity:1;
}

/* 8 */

.clock-num .digits div.eight .d1,
.clock-num .digits div.eight .d2,
.clock-num .digits div.eight .d3,
.clock-num .digits div.eight .d4,
.clock-num .digits div.eight .d5,
.clock-num .digits div.eight .d6,
.clock-num .digits div.eight .d7{
	opacity:1;
}

/* 9 */

.clock-num .digits div.nine .d1,
.clock-num .digits div.nine .d2,
.clock-num .digits div.nine .d3,
.clock-num .digits div.nine .d4,
.clock-num .digits div.nine .d5,
.clock-num .digits div.nine .d7{
	opacity:1;
}

/* 0 */

.clock-num .digits div.zero .d1,
.clock-num .digits div.zero .d3,
.clock-num .digits div.zero .d4,
.clock-num .digits div.zero .d5,
.clock-num .digits div.zero .d6,
.clock-num .digits div.zero .d7{
	opacity:1;
}


.clock-num .digits div.dots{
	width:5px;
}

.clock-num .digits div.dots:before,
.clock-num .digits div.dots:after{
	width:5px;
	height:5px;
	content:'';
	position:absolute;
	left:0;
	top:14px;
}

.clock-num .digits div.dots:after{
	top:34px;
}