<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全屏轮播</title>
    <script src="../static/js/jquery-3.2.1.min.js" data-th-src="@{js/jquery-3.2.1.min.js}"></script>
    <script src="../static/js/jquery.fullpage.min.js" data-th-src="@{js/jquery.fullpage.min.js}"></script>
    <link rel="stylesheet" href="../static/css/jquery.fullpage.min.css" data-th-href="@{css/jquery.fullpage.min.css}">
    <script src="../static/js/jquery.gridster.js" data-th-src="@{js/jquery.gridster.js}"></script>
    <link rel="stylesheet" href="../static/css/jquery.gridster.css" data-th-href="@{css/jquery.gridster.css}">
    <style>
        header {
            height: 200px;
        }
    </style>
</head>
<body>
<header>
    <div>
        <h2>组标题</h2>
        <h3 id="page_title">页面标题</h3>
    </div>
    <div>
        <span>刷新时间：</span>
        <span>滚动频率：</span>
        <button id="exit">退出</button>
    </div>
</header>
<section id="carousel">
    <!-- data-th- 即 th: -->
    <div class="page" data-th-data-name="${page.pageName}" data-th-each="page:${pages}">
        <ul>
            <li data-th-each="block:${page.layout}"
                data-th-data-row="${block.row}"
                data-th-data-col="${block.col}"
                data-th-data-sizex="${block.xSize}"
                data-th-data-sizey="${block.ySize}"></li>
        </ul>
    </div>
</section>
<script>
    $(function () {
        // 根据情况选择是否在进入此页面时调用全屏方法
        fullScreen();
        var w = document.documentElement.clientWidth
            || document.body.clientWidth;
        var h = document.documentElement.clientHeight
            || document.body.clientHeight;

        var grids = [];
        var grid_length = $('.page').length;
        for (var i = 0; i < grid_length; ++i) {
            grids[i] = $('.page').eq(i).gridster({
                widget_margins: [10, 10],
                // 留出200px给header
                widget_base_dimensions: [w, h - 200]
                // TODO: 补充其它配置
            })
        }

        // TODO: 首次加载 刷新整个组下的所有页面

        // 标记是否正在刷新
        var refreshing = false;
        $('#carousel').fullpage({
            sectionSelector: '.page',
            // 滚动频率，30s
            scrollingSpeed: 3000,
            autoScrolling: true,
            afterLoad: function (anchorLink, index) {
                var current_name = $('#carousel').find('.page').eq(index).attr('data-name');
                $('#page_title').html(current_name);
                if (refreshing) {
                    refreshing = false;
                    // TODO: 刷新上一个页面 index-1
                }
            }
        });

        // 设置刷新频率，暂时定为60s
        setInterval(function () {
            refreshing = true;
            // 刷新页面
            refresh();

        }, 6000);

        function refresh() {
            var pages = $('#carousel').find('.page').length;
            var current_index = $('.active').index();
            for (var i = current_index + 1; i < pages; ++i) {
                // TODO: 从下一个页面 依次调用刷新API 参数为第i个页面的data-name
            }
            for (var j = 0; j < current_index; ++j) {
                // TODO: 从第0个页面 依次调用刷新API 参数为第j个页面的data-name
            }
        }

        $('#exit').on('click', function () {
            exitFullScreen();
            window.location.href = '/carousel';
        })
    })

    // 全屏
    function fullScreen() {
        var el = document.documentElement;
        var rfs = el.requestFullScreen || el.webkitRequestFullScreen ||
            el.mozRequestFullScreen || el.msRequestFullScreen;
        if (typeof rfs != "undefined" && rfs) {
            rfs.call(el);
        } else if (typeof window.ActiveXObject != "undefined") {
            //for IE，这里其实就是模拟了按下键盘的F11，使浏览器全屏
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript != null) {
                wscript.SendKeys("{F11}");
            }
        }
    }

    // 退出全屏
    function exitFullScreen() {
        var el = document;
        var cfs = el.cancelFullScreen || el.webkitCancelFullScreen ||
            el.mozCancelFullScreen || el.exitFullScreen;
        if (typeof cfs != "undefined" && cfs) {
            cfs.call(el);
        } else if (typeof window.ActiveXObject != "undefined") {
            //for IE，这里和fullScreen相同，模拟按下F11键退出全屏
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript != null) {
                wscript.SendKeys("{F11}");
            }
        }
    }
</script>
</body>
</html>