<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- 引入 echarts.js -->
        <script src="js/echarts.min.js"></script>
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<!-- 主内容开始-->
			<div style="margin-left:20px;margin-top:-20px">
				<p><i class="layui-icon" style="font-size: 120px; color: #009688;">&#xe61c;</i><a style="font-size: 60px; color: #009688;">抱歉！</a><a style=" font-size: 30px; color: #009688;">您访问的页面不存在……</a></p>	
			</div>
					
			<fieldset class="layui-elem-field">
			  <legend>什么问题？</legend>
			  <div class="layui-field-box">
					<blockquote class="layui-elem-quote">
						<p><i class="layui-icon" style="font-size: 25px;">&#xe642;</i> 您要查看的网址可能已被删或者暂时不可用</p>
						<p>&nbsp <i class="layui-icon">&#xe64c;</i> 您可以点击此链接继续浏览网址<a href="main.html" style="color: #01AAED;">>>返回网址首页<a></p>
					</blockquote>
			  </div>
			</fieldset>
			
			<fieldset class="layui-elem-field">
			  <legend>请联系我们</legend>
			  <div class="layui-field-box">
					<blockquote class="layui-elem-quote">
						<p>&nbsp <i class="layui-icon">&#xe616;</i> &nbsp Mon-Fri 8:30 - 17:30</p>
						<p>&nbsp <i class="layui-icon">&#xe612;</i> &nbsp (027) 8766 7780</p>
						<p>&nbsp <i class="layui-icon">&#xe611;</i> &nbsp whstoneJK@whstone.com.cn</p>
					</blockquote>
			  </div>
			</fieldset>

		</div>
	</body>

</html>