<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>404</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../static/js/semantic.js"></script>
	<link rel="stylesheet" href="../static/css/semantic.css"  />
	<link rel="stylesheet" href="../static/css/icon.css"  />
	<style type="text/css">
		body {
			background-color: #DADADA;
		}
		body > .grid {
			height: 100%;
		}
		.image {
			margin-top: -100px;
		}
		.column {
			max-width: 450px;
		}
	</style>
</head>

<body>
<div class="ui center aligned middle aligned grid">
	<div class="column">
		<h2 class="ui teal image header">
			<img src="../static/images/logo.png" class="image">
			<div class="content">
				抱歉！
				您访问的页面不存在……
			</div>
		</h2>
		<form class="ui large form" >
			<div class="ui stacked segment">
				<div class="ui message">
					<div class="header">什么问题？</div>
					<ul class="list">
						<li>您要查看的网址可能已被删。</li>
						<li>您要查看的网址或许暂时不可用。</li>
						<li>……</li>
					</ul>
				</div>
				<div class="ui fluid large teal submit button">返回首页</div>
				<div class="ui fluid large teal submit button" style="margin-top: 15px">返回上一级页面</div>
			</div>
		</form>

		<div class="ui message">
			<div class="header">请联系我们</div>
			<ul class="list">
				<p><i class="wait  icon"></i> &nbsp Mon-Fri 8:30 - 17:30</p>
				<p><i class="call icon"></i> &nbsp (027) 8766 7780</p>
				<p><i class="user icon"></i> &nbsp whstoneJK@whstone.com.cn</p>
			</ul>
		</div>
	</div>
</div>
</body>

</html>