<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exce操作</title>
    <script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script src="../static/js/semantic.js" th:src="@{js/semantic.js}"></script>
    <link rel="stylesheet" href="../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
    <link rel="stylesheet" href="../static/css/icon.css" th:href="@{css/icon.css}"/>

    <style>

    </style>
</head>
<body>
<div>1.通过简单的form表单提交方式，进行文件的上</br> 2.通过jquery.form.js插件提供的form表单一步提交功能 </div></br>
<form method="POST"  enctype="multipart/form-data" id="form1" action="/upload">
    <table>
        <tr>
            <td>上传文件: </td>
            <td> <input id="upfile" type="file" name="upfile"></td>
        </tr>
        <tr>
            <td><input type="submit" value="提交" onclick="return checkData()"></td>
            <td><input type="button" value="ajax方式提交" id="btn" name="btn" ></td>
            <td><a class="item" href="#" th:href="@{/export}">导出excel</a></td>
        </tr>
    </table>
</form>
<script>
    //ajax 方式上传文件操作
    $(document).ready(function() {
        $('#btn').click(function () {
            if (checkData()) {
                $('#form1').ajaxSubmit({
                    url: '/ajaxUpload',
                    dataType: 'text',
                    success: resutlMsg,
                    error: errorMsg
                });

                function resutlMsg(msg) {
                    alert(msg);
                    $("#upfile").val("");
                }

                function errorMsg() {
                    alert("导入excel出错！");
                }
            }
        });

    });
    //JS校验form表单信息
    function checkData(){
        var fileDir = $("#upfile").val();
        var suffix = fileDir.substr(fileDir.lastIndexOf("."));
        if("" == fileDir){
            alert("选择需要导入的Excel文件！");
            return false;
        }
        if(".xls" != suffix && ".xlsx" != suffix ){
            alert("选择Excel格式的文件导入！");
            return false;
        }
        return true;
    }

</script>
</body>
</html>