<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title, links)">
	<meta charset="UTF-8">
	<title th:replace="${title}">监控系统</title>
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/semantic.js" th:src="@{js/semantic.js}"></script>
	<link rel="stylesheet" href="../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
	<link rel="stylesheet" href="../static/css/icon.css" th:href="@{css/icon.css}"/>
	<link href="../static/css/ionicons.min.css" rel="stylesheet" th:href="@{css/ionicons.min.css}"/>
	<link href="../static/css/main.css" rel="stylesheet" th:href="@{css/main.css}"/>
	<link href="../static/css/pace.css" rel="stylesheet" th:href="@{css/pace.css}"/>
	<link href="../static/css/lobibox.css" rel="stylesheet" th:href="@{css/lobibox.css}"/>
	<th:block th:replace="${links}"></th:block>
	<link href="../static/css/jquery.gridly.css" rel="stylesheet" type="text/css" th:src="@{css/jquery.gridly.css}"/>
	<script src="../static/js/jquery.gridly.js" th:src="@{js/jquery.gridly.js}"></script>
	<script src="http://rapapi.org/rap.plugin.js?projectId=19544&mode=3"></script>
	<script src="../static/js/echarts.min.js" th:src="@{js/echarts.min.js}"></script>
	<style type="text/css">
		.no-padding-bottom{  padding-bottom: 0px;  }
		.chart-style{  height: 200px  }
	</style>
	<style type="text/css">
		.gridly {
			position: relative;
			width: 960px;
		}
		.brick.small {
			height: 200px;
		}

	</style>
</head>
<body>
<!--header start-->
<div id="contextWrap">
	<!--sidebar-->
	<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" data-color="grey"
		 th:fragment="left_menu">
		<a class="item logo" href="#">
			<img src="../static/images/logo.png" th:src="@{images/logo.png}" alt="whstone"/><img
				src="../static/images/thumblogo.png" th:src="@{images/thumblogo.png}" alt="whstone"
				class="displaynone"/>
		</a>
		<div class="ui accordion inverted">
			<a class="title item" href="#" th:href="@{/dashboard}">
                <i class="ion-speedometer titleIcon icon"></i>仪表盘
			</a>
			<a class="title item" href="#">
				<i class="ion-ios-lightbulb titleIcon icon"></i>监控视图
			</a>
			<a class="item" href="#">
				<i class="ion-ios-world titleIcon  icon"></i>业务概览
			</a>
			<div class="title item">
				<i class="ion-mouse titleIcon icon"></i>设备监控<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/overview}">设备总览</a>
				<a class="item" href="#">网络设备</a>
				<a class="item" href="#">数据库</a>
				<a class="item" href="#">应用</a>
			</div>
			<a class="title item" href="#">
				<i class="ion-arrow-graph-up-right titleIcon icon"></i>视图展示
			</a>
			<div class="title item">
				<i class="ion-paintbrush titleIcon icon"></i>告警展示<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#">告警日历</a>
				<a class="item" href="#">告警列表</a>
			</div>
			<a class="title item" href="#">
				<i class="ion-briefcase titleIcon icon"></i>报表统计
			</a>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>仪表盘1</span>
			<i class="ion-speedometer icon"></i>
			<div class="menu">
				<div class="header">
					仪表盘1
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>监控视图</span>
			<i class="ion-ios-lightbulb icon"></i>
			<div class="menu">
				<div class="header">
					监控视图
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>业务概览</span>
			<i class="ion-ios-world icon"></i>
			<div class="menu">
				<div class="header">
					业务概览
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>设备概览</span>
			<i class="ion-mouse icon"></i>
			<div class="menu">
				<div class="header">
					设备概览
				</div>
				<div class="ui divider"></div>
				<a class="item" href="tab.html">服务器</a>
				<a class="item" href="table.html">网络设备</a>
				<a class="item" href="error.html">数据库</a>
				<a class="item" href="login.html">应用</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>视图展示</span>
			<i class="ion-arrow-graph-up-right icon"></i>
			<div class="menu">
				<div class="header">
					视图展示
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>告警展示</span>
			<i class="ion-paintbrush icon"></i>
			<div class="menu">
				<div class="header">
					告警展示
				</div>
				<div class="ui divider"></div>
				<a class="item" href="error.html">告警日历</a>
				<a class="item" href="error.html">告警列表</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>报表统计</span>
			<a href="error.html">
				<i class="ion-briefcase icon"></i>
			</a>
		</div>

		<div class="ui divider"></div>

	</div>

	<!--sidebar-->

	<div class="pusher">
		<!--navbar-->
		<div class="navslide navwrap" th:fragment="top_nav">
			<div class="ui menu icon borderless grid" data-color="inverted white">
				<a class="item labeled openbtn">
					<i class="ion-navicon-round big icon"></i>
				</a>
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu colhidden">
					<div class="ui dropdown item labeled icon">
						<i class="bell icon"></i>   告警
						<div class="ui red label mini circular">6</div>
						<div class="menu" >
							<div class="header">
								紧急告警
							</div>
							<div class="item">
								告警信息1……
								<div class="ui teal left pointing label">1</div>
							</div>
							<div class="item">
								告警信息2……
								<div class="ui label">51</div>
							</div>
							<div class="item">
								告警信息3……
								<div class="ui label">1</div>
							</div>
							<div class="header">
								严重告警
							</div>
							<div class="item">
								<i class="dropdown icon"></i>
								<span class="text">更多</span>
								<div class="menu">
									<div class="item">告警信息……</div>
									<div class="item">告警信息……</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui dropdown item">
                        <img class="ui mini circular image" src="../static/images/0.jpg" th:src="@{images/0.jpg}"
                             alt="label-image"/>
						<div class="menu">
							<a class="item" href="#" th:text="${session.userInfo.name}">whstone</a>
							<a class="item" href="mail.html" th:href="@{/logout}">注销</a>
						</div>
					</div>
					<a class="item labeled rightsidebar computer only">
						<i class="ion-wrench large icon"></i>工具
					</a>

				</div>
			</div>
		</div>
		<!--navbar-->
		<!--maincontent-->
		<div class="mainWrap navslide">
			<div class="ui equal width left aligned padded grid stackable">
				<!--Site Content-->
				<div class="sixteen wide column">
					<div class="ui segments">
						<div class="ui segment">
							<h3 class="ui header">
								主机名称
							</h3>
						</div>
						<div class="ui segment">

							<div class="sixteen wide column">
								<div class="ui grid">
									<div class="four wide column">
										<div class="ui top attached tabular menu">
											<a class="active item" data-tab="first"><h3>配置详情</h3></a>
											<a class="item" data-tab="second"><h3>连接详情</h3></a>
										</div>
										<div class="ui bottom attached active tab segment" style="margin-bottom: 0px" data-tab="first">
											<div class="ui relaxed divided list">
												<div class="item">
													<div class="description">设备名：设备名</div>
												</div>
												<div class="item">
													<div class="description">IP：127.0.0.1</div>
												</div>
												<div class="item">
													<div class="description">类型：类型</div>
												</div>
												<div class="item">
													<div class="content">
														<p class="header">描述:</p>
														<div class="description">
															包含一个简单的表格列出设备等信息;</br>部分信息可以伸缩隐藏，例如四种配置接口等数据
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="ui bottom attached tab segment" data-tab="second">
											<div class="ui relaxed divided list">
												<div class="item">
													<i class="big green checkmark icon"></i>
													<div class="content">
														<p class="header">Agent方式</p>
														<div class="description">IP：127.0.0.1;DNS端口号：8080</div>
													</div>
												</div>
												<div class="item">
													<i class="big green checkmark icon"></i>
													<div class="content">
														<p class="header">SNMP方式</p>
														<div class="description">IP：127.0.0.1;DNS端口号：8080</div>
													</div>
												</div>
												<div class="item">
													<i class="big red remove icon"></i>
													<div class="content">
														<p class="header">JMX方式</p>
														<div class="description">IP：无;DNS端口号：无</div>
													</div>
												</div>
												<div class="item">
													<i class="big red remove icon"></i>
													<div class="content">
														<p class="header">IPMI方式</p>
														<div class="description">IP：无;DNS端口号：无</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="twelve wide column">
										<div class="ui segments">
											<div class="ui segment">
												<h3 class="ui header">
													监控点详情
												</h3>
											</div>
											<div class="ui segment">
										<div class="ui six column grid">
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
											<div class="column" >
												<div class="ui red top attached button" data-html="<div class='content'><p>名称:CPU</p><p>状态:危险</p><p>最新数据时间:2017年7月12日15:38:07</p><p>监控项的最新数值:???</p></div></div>">CPU</div>
											</div>
										</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="padding-top:20px; ">
								<div id="flag_false"></div>
								<div id="flag_true" ></div>
							</div>
						</div>
					</div>
				</div>
				<!--Site Content-->
			</div>
		</div>
		<!--maincontent-->
	</div>
</div>
<th:block th:fragment="bottom_script(scripts)">
	<script src="../static/js/js.cookie.js" th:src="@{js/js.cookie.js}"></script>
	<script src="../static/js/jquery.nicescroll.min.js" th:src="@{js/jquery.nicescroll.min.js}"></script>
	<script data-pace-options='{ "ajax": false }' src="../static/js/pace.js" th:src="@{js/pace.js}"></script>
	<script src="../static/js/main.js" th:src="@{js/main.js}"></script>

    <th:block th:replace="${scripts}"></th:block>
</th:block>
<script>
    $('.button')
        .popup()
    ;
</script>
<script type="text/javascript">
    // 指定图表的配置项和数据
	//加载数据
  	$.ajax({
        type: "post",
        url: "/hostgraphs",
        data: {host_id: "g2"},
        dataType: "json",
        success: function (result) {
            var data = result.data;
            for (var i=0; i<data.length; i++){
                var id = ['host_id'+data[i].host_id+'item_id'+data[i].item_id].join('');
				if (data[i].flag==true)
				{
                    if($("#flag_true").children().length == 0)
                    {
                        $("#flag_true").append("<h4 class='ui horizontal divider header'><i class='tag icon'></i>自定义监控项</h4> <div class='ui three column grid gridly' id='flag_true_content'>");
                        $("#flag_true_content").append("<div class='column no-padding-bottom brick small'><div id='"+id+"' class='chart-style'>"+id+"</div></div>");
                    }else {
                        $("#flag_true_content").append("<div class='column no-padding-bottom brick small'><div id='"+id+"' class='chart-style'>"+id+"</div></div>");
                    }
				}else {
                    if($("#flag_false").children().length == 0)
                    {
                        $("#flag_false").append("<h4 class='ui horizontal divider header'><i class='tag icon'></i>推荐严重监控项</h4> <div class='ui three column grid gridly ' id='flag_false_content'>");
                        $("#flag_false_content").append("<div class='column no-padding-bottom  brick small'><div id='"+id+"' class='chart-style'>"+id+"</div></div>");
                    }else {
                        $("#flag_false_content").append("<div class='column no-padding-bottom  brick small'><div id='"+id+"' class='chart-style'>"+id+"</div></div>");
                    }
                }

                var Color = ['#5FB878', '#DB2828', '#F7B824', '#d2d2d2', '#2F4056'];
				if (data[i].state == "正常"){ var myColor = Color[0] }
                if (data[i].state == "严重"){ var myColor = Color[1] }
                if (data[i].state == "警告"){ var myColor = Color[2] }
                var myChart = echarts.init(document.getElementById(id));
                var option = {
                    title: {
                        text: data[i].item_name
                    },
                    tooltip: {},
                    legend: {
                        data:[]
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            magicType: {type: ['line', 'bar']},
                        }
                    },
                    xAxis: {
                        data: data[i].data_time
                    },
                    yAxis: {
                    },
                    series: [{
                        name: data[i].graph_name,
                        type: data[i].graph_type,
                        data: data[i].date,
                        color: [myColor]
                    }]
                };
                myChart.setOption(option);
            }
            $('.gridly').gridly({
                base: 60, // px
                gutter: 20, // px
                columns: 12
            });
        }
    })
</script>

</body>
</html>