<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>监控系统 Semantic-UI</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../static/js/semantic.js"></script>
		<link rel="stylesheet" href="../static/css/semantic.css"  />
		<link rel="stylesheet" href="../static/css/icon.css"  />
	</head>
	<body>
	<!--header start-->
	<div class="header">
		 <div class="ui top fixed  borderless  menu">
			 <div class="header item">
				 <img src="../static/images/logo-1.png">
			 </div>
			 <div class="header item" id="sidebarmenu">
				<i class="contrnt icon"></i>				  菜单
			 </div>

			 <div class="right menu">
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
					</div>
				</div>

				<div class="ui dropdown item icon">
					<i class="bell icon"></i>				  告警
					<div class="ui red label mini circular">6</div>
					<div class="menu" >
						<div class="header">
							紧急告警
						</div>
						<div class="item">
							告警信息1……
							<div class="ui teal left pointing label">1</div>
						</div>
						<div class="item">
							告警信息2……
							<div class="ui label">51</div>
						</div>
						<div class="item">
							告警信息3……
							<div class="ui label">1</div>
						</div>
						<div class="header">
							严重告警
						</div>
						<div class="item">
							<i class="dropdown icon"></i>
							<span class="text">更多</span>
							<div class="menu">
								<div class="item">告警信息……</div>
								<div class="item">告警信息……</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui dropdown item" >
					<img src="../static/images/0.jpg">
					<div class="menu" >
						<a class="item" href="#">注销</a>
						<a class="item" href="#">Profile</a>
						<a class="item" href="#">Settings</a>
					</div>
				</div>

				<a class="item labeled rightsidebar computer only">
					<i class="wrench icon"></i>          设置
				</a>
			</div>
		</div>
	</div>
	<!--header start-->
	<!--sidebar start-->
	<div class="ui header thin  sidebar left inverted vertical menu " style="padding-top: 55px">
		<div class="item" href="main.html">
			<i class="home icon"></i>
			仪表盘
		</div>
		<div class="item" href="error.html">
			<i class="block layout icon"></i>
			监控视图
		</div>
		<div class="item">
			<i class="block layout icon"></i>
			业务概览
		</div>
		<div class="item">
			<div class="header">设备概览
				<i class="dropdown icon"></i>
			</div>
			  <div class="menu">
				  <a class="item" href="main.html">服务器</a>
				  <a class="item" href="#">网络设备</a>
				  <a class="item" href="#">数据库</a>
				  <a class="item" href="#">应用</a>
			  </div>
		</div>
		<div class="item">
			<i class="block layout icon"></i>
			视图展示
		</div>
		<div class="item">
			<div class="header">告警展示
				<i class="dropdown icon"></i>
			</div>
			<div class="menu">
				<a class="item" href="#">告警日历</a>
				<a class="item" href="#">告警列表</a>
			</div>
		</div>
		<div class="item">
			<i class="block layout icon"></i>
			报表统计
		</div>
	</div>
	  
	  <!--sidebar end-->

	<div class="pusher">
		<div  style="margin-top: 55px">
		     <iframe src="main.html"  width="100%" height="650px" frameborder="0" ></iframe>
		</div>
	</div>

	  <script>
		$('#sidebarmenu').click(function(){
			$('.ui.sidebar').sidebar('toggle');
			});
        $('.ui.dropdown')
            .dropdown()
        ;

	  </script>
	 
	</body>

</html>