<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<!--/*@thymesVar loginFormVOForm" type="com.ws.stoner.model.query.LoginFormQuery"*/-->
    <div>test</div>
    <form action="/login/auth" th:action="@{/login/auth}" method="post" th:object="${loginFormQuery}">
        <label>用户名：</label>
        <input type="text" th:field="*{username}" /><br>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</p>
        <label>密码：</label>
        <input type="password" th:field="*{password}" /><br>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</p>
        <label >记住我</label>
        <input type="checkbox" th:field ="*{rememberMe}">
        <input type="submit" value="登录"><br>
    </form>
</body>
</html>