<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::common_head(~{::title}, ~{::supplement})">
	<meta charset="UTF-8">
	<title>业务详情</title>
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/semantic.js" th:src="@{js/semantic.js}"></script>
	<link rel="stylesheet" href="../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
	<link rel="stylesheet" href="../static/css/icon.css" th:href="@{css/icon.css}"/>
	<link href="../static/css/ionicons.min.css" rel="stylesheet" th:href="@{css/ionicons.min.css}"/>
	<link href="../static/css/main.css" rel="stylesheet" th:href="@{css/main.css}"/>
	<link href="../static/css/pace.css" rel="stylesheet" th:href="@{css/pace.css}"/>
	<link href="../static/css/lobibox.css" rel="stylesheet" th:href="@{css/lobibox.css}"/>

	<th:block th:fragment="supplement">
		<script src="https://gw.alipayobjects.com/as/g/datavis/g6/1.1.3/index.js"></script>
		<script src="../static/js/echarts.min.js" th:src="@{js/echarts.min.js}"></script>
		<script src="../static/js/notifications.js" th:src="@{js/notifications.js}"></script>
		<script src="http://rapapi.org/rap.plugin.js?projectId=19544&mode=0"></script>
		<style type="text/css">
			.textOverflow{
				overflow: hidden; /*自动隐藏文字*/
				text-overflow: ellipsis;/*文字隐藏后添加省略号*/
				white-space: nowrap;/*强制不换行*/
			}
			.ui.tab.segment.noMargin{ margin:0; }
			.ui.segment.noBorder{ border:0; }
			.ui.tab.segment.fixedHeight{ height: 500px; }
			.chartBar{ height: 140px; }
			.ui.row1Height{ height: 160px; }
			.ui.row2Height{
				height: 285px;
				width: 100%;
				overflow:auto;
				overflow-x:hidden
			}
			.ui.row3Height{
				height: 500px;
			}
			.ui.row4Height{
				height: 173px;
				width: 100%;
				overflow:auto;
				overflow-x:hidden
			}
			.modal-height{
				height: 450px;
				width: 100%;
				overflow:auto;
				overflow-x:hidden
			}
		</style>
	</th:block>

</head>
<body>
<!--header start-->
<div id="contextWrap">
	<!--sidebar-->
	<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" data-color="grey"
		 th:replace="layout::left_menu">
		<a class="item logo" href="index.html">
			<img src="../static/images/logo.png" alt="stagblogo"/><img src="../static/images/thumblogo.png"
																	   alt="stagblogo" class="displaynone"/>
		</a>
		<div class="ui accordion inverted">
			<div class="title item">
                <i class="ion-speedometer titleIcon icon"></i>仪表盘
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/dashboard}">仪表盘</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-ios-world titleIcon  icon"></i>业务概览
			</div>
			<div class="content">
			</div>
			<div class="title item">
				<i class="ion-mouse titleIcon icon"></i>设备监控<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/overview}">设备总览</a>
				<a class="item" href="#">设备详情</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-arrow-graph-up-right titleIcon icon"></i>视图展示
			</div>
			<div class="content">
			</div>
			<div class="title item">
				<i class="ion-paintbrush titleIcon icon"></i>告警展示<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#">告警日历</a>
				<a class="item" href="#">告警列表</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-briefcase titleIcon icon"></i>报表统计
			</div>
			<div class="content">
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>仪表盘1</span>
			<i class="ion-speedometer icon"></i>
			<div class="menu">
				<div class="header">
					仪表盘1
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>业务概览</span>
			<i class="ion-ios-world icon"></i>
			<div class="menu">
				<div class="header">
					业务概览
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>设备监控</span>
			<i class="ion-mouse icon"></i>
			<div class="menu">
				<div class="header">
					设备监控
				</div>
				<div class="ui divider"></div>
				<a class="item" href="tab.html">设备总览</a>
				<a class="item" href="table.html">设备详情</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>视图展示</span>
			<i class="ion-arrow-graph-up-right icon"></i>
			<div class="menu">
				<div class="header">
					视图展示
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>告警展示</span>
			<i class="ion-paintbrush icon"></i>
			<div class="menu">
				<div class="header">
					告警展示
				</div>
				<div class="ui divider"></div>
				<a class="item" href="error.html">告警日历</a>
				<a class="item" href="error.html">告警列表</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>报表统计</span>
			<a href="error.html">
				<i class="ion-briefcase icon"></i>
			</a>
		</div>

		<div class="ui divider"></div>

	</div>

	<!--sidebar-->

	<div class="pusher">
		<!--navbar-->
		<div class="navslide navwrap" th:replace="layout::top_nav">
			<div class="ui menu icon borderless grid" data-color="inverted white">
				<a class="item labeled openbtn">
					<i class="ion-navicon-round big icon"></i>
				</a>
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu colhidden">
					<div class="ui dropdown item labeled icon">
						<i class="bell icon"></i>   告警
						<div class="ui red label mini circular">6</div>
						<div class="menu" >
							<div class="header">
								紧急告警
							</div>
							<div class="item">
								告警信息1……
								<div class="ui teal left pointing label">1</div>
							</div>
							<div class="item">
								告警信息2……
								<div class="ui label">51</div>
							</div>
							<div class="item">
								告警信息3……
								<div class="ui label">1</div>
							</div>
							<div class="header">
								严重告警
							</div>
							<div class="item">
								<i class="dropdown icon"></i>
								<span class="text">更多</span>
								<div class="menu">
									<div class="item">告警信息……</div>
									<div class="item">告警信息……</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui dropdown item">
                        <img class="ui mini circular image" src="../static/images/0.jpg" th:src="@{images/0.jpg}"
                             alt="label-image"/>
						<div class="menu">
							<a class="item" href="#" th:text="${session.userInfo.name}">whstone</a>
							<a class="item" href="mail.html" th:href="@{/logout}">注销</a>
						</div>
					</div>
					<a class="item labeled rightsidebar computer only">
						<i class="ion-wrench large icon"></i>工具
					</a>

				</div>
			</div>
		</div>
		<!--navbar-->
		<!--maincontent-->
		<div class="mainWrap navslide">
			<div class="ui equal width left aligned padded grid stackable">
				<!--Site Content-->
				<div class="sixteen wide column">
					<div class="ui segments">
						<div class="ui segment">
							<div class="ui secondary pointing menu">
								<a class="active item" data-tab="detail">业务概述</a>
								<a class="item" data-tab="tree">业务树</a>
								<a class="item" data-tab="report">业务图形报告</a>
								<div class="right menu">
									<select id="platform_select" class="ui mini dropdown ">
									</select>
								</div>
							</div>
							<div class="ui active tab segment noMargin fixedHeight" data-tab="detail">
								<div class="row">
									<div class="sixteen wide column">
										<div class="ui grid">
											<div class="six wide column">
												<div class="ui segment center aligned row1Height">
													<h2 class="ui left aligned header">健康度</h2>
													<div class="ui huge statistic" >
														<div class="value">
															<span id="health_value" class="counter"></span> %
														</div>
													</div>
												</div>
											</div>
											<div class="ten wide column">
												<div class="ui segment left aligned row1Height">
													<div id="platform_graph" class="chartBar"></div>
												</div>
											</div>
											<div class="sixteen wide column">
												<div  class="ui segment" style="padding: 0px">
													<div class="ui grid">
														<div class="three wide column" style="padding-left: 15px;padding-right: 0px;">
															<div class="ui secondary vertical menu row2Height" id="hostsMenu">
																<a class="active item textOverflow">设备列表第一<i class="green desktop icon"></i></a>
																<a class="item textOverflow">设备列表第二<i class="red desktop icon"></i></a>
																<a class="item textOverflow">设备列表第一<i class="yellow desktop icon"></i></a>
																<a class="item textOverflow">设备列表第二</a>
																<a class="item textOverflow">设备列表第一</a>
																<a class="item textOverflow">设备列表第二</a>
																<a class="item textOverflow">设备列表第一</a>
																<a class="item textOverflow">设备列表第二</a>
															</div>
														</div>
														<div class="three wide column"  style="padding-left: 0px;">
															<div class="ui secondary vertical menu row2Height" id="pointsMenu" style="margin: 0px">
																<a class="active item">2A<i class="green circle icon"></i></a>
																<a class="item">2B<i class="red circle icon"></i></a>
																<a class="item">2A<i class="yellow circle icon"></i></a>
																<a class="item">2B</a>
																<a class="item">2A</a>
																<a class="item">2B</a>
																<a class="item">2A</a>
																<a class="item">2B</a>
															</div>
														</div>
														<div class="ten wide column">
															<div class="ui segment noBorder row2Height"  id="itemsMenu">
																<div class="ui grid">
																	<div class="row">
																		<div class="sixteen wide column">
																			<table class="ui very basic fixed single line table">
																				<thead>
																				<tr>
																					<th>名字</th>
																					<th>值</th>
																					<th>状态</th>
																					<th>权值</th>
																				</tr>
																				</thead>
																				<tbody id="itemsTable">
																				<tr>
																					<td>John</td>
																					<td title="Approved">Approved</td>
																					<td  title="None(超超超超超超超超超超超超超级长的文字)">None(超超超超超超超超超超超超超级长的文字)</td>
																				</tr>
																				<tr>
																					<td>Jamie</td>
																					<td>Approved</td>
																					<td>Requires call</td>
																				</tr>
																				<tr>
																					<td>Jill</td>
																					<td>Denied</td>
																					<td>None</td>
																				</tr>
																				<tr>
																					<td>Jamie</td>
																					<td>Approved</td>
																					<td>Requires call</td>
																				</tr>
																				<tr>
																					<td>Jamie</td>
																					<td>Approved</td>
																					<td>Requires call</td>
																				</tr>
																				<tr>
																					<td>Jamie</td>
																					<td>Approved</td>
																					<td>Requires call</td>
																				</tr>
																				<tr>
																					<td>Jamie</td>
																					<td>Approved</td>
																					<td>Requires call</td>
																				</tr>
																				</tbody>
																			</table>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="ui tab segment noMargin fixedHeight" data-tab="tree">
								<div class="row">
									<div class="ui grid">
										<div class="sixteen wide column">
											<div class="ui segment">
												<div id="tree_area"  class="sixteen wide column row3Height"></div>
											</div>
										</div>
										<div class="sixteen wide column">
											<div class="ui segment">
												<div class="ui six column grid row4Height" id="pointButton">
													<div class="column">
														<div class="ui green top attached button" id="0101">CPU</div>
													</div>
													<div class="column">
														<div class="ui red top attached button" id="0114" >CPU</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="ui tab segment noMargin fixedHeight" data-tab="report">
								<div class="ui styled fluid accordion" id="hostAccordion">
									<div class="active title">
										<i class="dropdown icon"></i>
										主机A
									</div>
									<div class="active content">
										<p>监控项A图形</p>
									</div>
									<div class="title">
										<i class="dropdown icon"></i>
										主机B
									</div>
									<div class="content">
										<p>监控项A图形</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--modal start-->
				<div class="ui large modal">
					<span style="display:none" id="pointDetailArea"></span>
					<span style="display:none" id="pointDetailFirstItem"></span>
					<i class="close icon"></i>
					<!--监控点modal start-->
					<div class="content">
						<div class="ui grid points">
							<div id="labelPoints"></div>
							<div class="sixteen wide column">
								<div class="ui pointing secondary menu tab_points">
									<a class="item active" data-tab="Summary">概述</a>
									<a class="item" data-tab="Report">报告</a>
									<a class="item" data-tab="Data">数据</a>
								</div>
								<div class="ui tab segment active modal-height" data-tab="Summary" style="margin-bottom: 0px;">
									<div class="row">
										<table class="ui compact basic fixed single line table center aligned">
											<thead>
											<tr><th width="20%">指标</th>
												<th width="20%">值</th>
												<th width="10%">危险阈值</th>
												<th width="10%">故障阈值</th>
												<th width="20%">最新时间</th>
											</tr></thead>
											<tbody id="tableSummary" >
											</tbody>
										</table>
									</div>
								</div>
								<div class="ui tab segment modal-height" data-tab="Report" style="margin-bottom: 0px;">
									<div class="ui grid">
										<div class="row">
											<div class="eight wide column">
												<div class="ui basic top attached left floated  buttons Time Report">
													<button value="40" class="ui active button">最新40条</button>
													<button value="1" class="ui button">1天</button>
													<button value="3" class="ui button">3天</button>
													<button value="7" class="ui button">7天</button>
													<button value="30" class="ui button">30天</button>
												</div>
											</div>
											<div class="eight wide column">
												<div class="ui basic top attached right floated buttons Type Report">
													<button value="bar" class="ui button">柱状图</button>
													<button value="line" class="ui button">线状图</button>
													<button value="area" class="ui button">面积图</button>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="ui three column grid" id="chartReport">
												<p></p>
											</div>
										</div>
									</div>
								</div>
								<div class="ui tab segment modal-height" data-tab="Data">
									<div class="ui grid">
										<div class="eight wide column">
											<div class="ui basic top attached left floated buttons Time Data">
												<button value="40" class="ui active button">最新40条</button>
												<button value="1" class="ui button">1天</button>
												<button value="3" class="ui button">3天</button>
												<button value="7" class="ui button">7天</button>
												<button value="30" class="ui button">30天</button>
											</div>
										</div>
										<div class="right aligned four wide column">
											监控项：
											<select class="ui dropdown itemsTab">
											</select>
										</div>
										<div class="right aligned four wide column">
											状态：
											<select class="ui dropdown stateTab">
												<option value="">请选择状态</option>
												<option>全部</option>
												<option>正常</option>
												<option>严重</option>
												<option>警告</option>
											</select>
										</div>
									</div>
									<div class="row" id="rowData"></div>
								</div>
							</div>
						</div>
					</div>
					<!--监控点modal end-->
				</div>
			</div>
				<!--modal end-->
				<!--Site Content-->
			</div>
		</div>
		<!--maincontent-->
	</div>

<th:block th:replace="layout::bottom_script(~{::supple})">
	<script src="../static/js/js.cookie.js" th:src="@{js/js.cookie.js}"></script>
	<script src="../static/js/jquery.nicescroll.min.js" th:src="@{js/jquery.nicescroll.min.js}"></script>
	<script data-pace-options='{ "ajax": false }' src="../static/js/pace.js" th:src="@{js/pace.js}"></script>
	<script src="../static/js/main.js" th:src="@{js/main.js}"></script>
	<th:block th:fragment="supple">
		<script type="text/javascript">

            //页面加载完加载基础数据
			$(function() {
                //初始化选项页
                $('.secondary.pointing.menu .item').tab();
                //初始化业务平台下拉框
                selectPlaltform();
                //加载健康度和图形数据
                getPlatDates();
				//加载分类菜单数据 诠释权值含义
				initWeightMenu();
                //加载业务树
                platformTree();
                //加载业务图形报告
                hostAccordion();

                //业务平台下拉框onchange
                $("#platform_select").change(function(){
                    //加载健康度和图形数据
                    getPlatDates();
                    //加载分类菜单数据 诠释权值含义
                    initWeightMenu();
                    //加载业务树
                    platformTree();
                    //加载业务图形报告
                    hostAccordion();
				});


			})

			//加载 业务平台 下拉框
			function selectPlaltform() {
                $.ajax({
                    async: false,
                    type: "get",
                    url: "/platformdetail/get_platforms",
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var platform_data=result.data;
                            var str = "";
                            for(var i=0;i<platform_data.length;i++)
                            {
                                str +=" <option value='"+platform_data[i].platform_id+"'  >"+platform_data[i].platform_name+"</option> ";
                            }

                            $("#platform_select").html("");
                            $("#platform_select").html(str);
                            $("#platform_select").dropdown("set value", platform_data[0].platform_id);
                            $("#platform_select").dropdown("set text", platform_data[0].platform_name);

                        }
                        else {
                            errorMsg_no_data("业务平台 Dropdown");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("业务平台 Dropdown");
                    }
                });
			}

            //加载健康度和图形数据
			function getPlatDates() {
                var platform_id = $("#platform_select").dropdown("get value")[0].split(",")[0];
                //console.log("platform_id:::" + platform_id);
                $.ajax({
                    type: "get",
                    url: "/platformdetail/get_datas?platform_id="+platform_id,
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var platform_data = result.data;
                            var health = platform_data.health.toFixed(2);
							$("#health_value").text(health);
                            //绘制图标数据
                            var platform_chart = echarts.init(document.getElementById("platform_graph"));
                            //配置option
                            var option = {
                                title: {
                                    show:true,
                                    text: '',
                                    top:'-5px'
                                },
                                tooltip : {
                                    trigger: 'axis',
                                    axisPointer : {
                                        type : false
                                    }
                                },
                                grid: {
                                    left: '2%',
                                    right: '2%',
                                    bottom: '2%',
                                    top:'2%',
                                    containLabel: true
                                },
                                xAxis:  {
                                    type: 'category',
                                    data: platform_data.types
                                },
                                yAxis: {
                                    type: 'value',
                                    splitLine:{show: false},
                                },
                                series: [
                                    {
                                        name: '正常',
                                        type: 'bar',
                                        stack: '设备总数',
                                        barWidth : 25,
                                        label: {
                                            normal: {
                                                show: true,
                                                position: 'insideRight'
                                            }
                                        },
                                        data: platform_data.datas[0],
                                        color: ['#5FB878']
                                    },
                                    {
                                        name: '警告',
                                        type: 'bar',
                                        stack: '设备总数',
                                        barWidth : 25,
                                        label: {
                                            normal: {
                                                show: true,
                                                position: 'insideRight'
                                            }
                                        },
                                        data: platform_data.datas[1],
                                        color: ['#F7B824']
                                    },
                                    {
                                        name: '严重',
                                        type: 'bar',
                                        stack: '设备总数',
                                        barWidth : 25,
                                        label: {
                                            normal: {
                                                show: true,
                                                position: 'insideRight'
                                            }
                                        },
                                        data: platform_data.datas[2],
                                        color: ['#DB2828']
                                    }
                                ]
                            };
                            //根据配置绘制图形
                            platform_chart.setOption(option);
                        }
                        else {
                            errorMsg_no_data("业务平台基础数据获取 失败");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("服务器连接 失败");
                    }
                });
			}

            //加载分类菜单数据 诠释权值含义
			function initWeightMenu() {
                var platform_id = $("#platform_select").dropdown("get value")[0].split(",")[0];
                //加载设备列表
                hostsMenu(platform_id);
				//加载监控点列表
                var host_id = $("#hostsMenu").children(".item.textOverflow.active").attr("id");
                //console.log("host_id:::" + host_id);
                pointsMenu(host_id);
				//加载监控项列表
                var point_id = $("#pointsMenu").children(".item.textOverflow.active").attr("id");
                //console.log("point_id:::" + point_id);
                itemsMenu(point_id);
			}
			//加载设备列表
            function hostsMenu(platform_id) {
                $.ajax({
                    async: false,
                    type: "get",
                    url: "/platformdetail/get_hosts?platform_id="+platform_id,
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var data = result.data;
                            gethostsMenu(data);
                            $('#hostsMenu a').on('click',function () {
                                $('#hostsMenu a').removeClass('active');
                                $(this).addClass('active');
                                pointsMenu(this.id);
                            })
                        }
                        else {
                            errorMsg_no_data("设备列表 Menu");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("设备列表 Menu");
                    }
                })
            }
            function gethostsMenu(data) {
                var str = '';
                for(var i=0;i<data.length;i++)
                {
                    if (i==0){
                        str +="<a class='item textOverflow active' id='"+data[i].host_id+"' >"+data[i].host_name+"</a> ";
                    }else {
                        str +="<a class='item textOverflow' id='"+data[i].host_id+"' >"+data[i].host_name+"</a> ";
                    }
                }
                $("#hostsMenu").html("");
                $("#hostsMenu").html(str);
            }

            //加载监控点列表
            function pointsMenu(host_id) {
                $.ajax({
                    async: false,
                    type: "get",
                    url: "/platformdetail/get_points?host_id="+host_id,
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var data = result.data;
                            getpointsMenu(data);
                            $('#pointsMenu a').on('click',function () {
                                $('#pointsMenu a').removeClass('active');
                                $(this).addClass('active');
                                itemsMenu(this.id);
                            })
                        }
                        else {
                            errorMsg_no_data("监控点列表 Menu");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("监控点列表 Menu");
                    }
                })
            }
            function getpointsMenu(data) {
                var str = '';
                for(var i=0;i<data.length;i++)
                {
                    if (i==0){
                        str +="<a class='item textOverflow active' id='"+data[i].point_id+"' >"+data[i].point_name+"</a> ";
                    }else {
                        str +="<a class='item textOverflow' id='"+data[i].point_id+"' >"+data[i].point_name+"</a> ";
                    }
                }
                $("#pointsMenu").html("");
                $("#pointsMenu").html(str);
            }

            //加载监控项列表
            function itemsMenu(point_id) {
                $.ajax({
                    type: "get",
                    url: "/platformdetail/get_items?point_id="+point_id,
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var data = result.data;
                            getitemsMenu(data);
                        }
                        else {
                            errorMsg_no_data("监控项列表 Menu");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("监控项列表 Menu");
                    }
                })
            }
            function getitemsMenu(data) {
                var str = '';
                for(var i=0;i<data.length;i++)
                {
                    str +="<tr id='"+data[i].item_id+"' ><td>"
                        +data[i].item_name +"</td><td> "
                        +data[i].state+"</td><td> "
                        +data[i].value+"</td><td> "
                        +data[i].weight+"</td></tr> ";
                }
                $("#itemsTable").html("");
                $("#itemsTable").html(str);
            }


//			//健康度线状图
//			var myChart = echarts.init(document.getElementById('platformHealth'));
//			var option = {
//				xAxis: {
//					data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
//				},
//				yAxis: {},
//				series: [{
//					name: '销量',
//					type: 'line',
//					data: [5, 20, 36, 10, 10, 20]
//				}]
//			};
//			myChart.setOption(option);

			//加载业务树方法
			function platformTree() {
                var platform_id = $("#platform_select").dropdown("get value")[0].split(",")[0];
				$.ajax({
					type: "get",
					url: "/platformtree/get_tree?platform_id="+platform_id,
					dataType: "json",
					success: function (result) {
						if(result.success) {
							var data = result.data;
							getplatformTree(data);
						}
						else {
							errorMsg_no_data("业务树 Tree");
						}
					},
					error: function () {
						errorMsg_no_connect("业务树 Tree");
					}
				})
			}
			function getplatformTree(data){
				$("#tree_area").html("");
				var tree = new G6.Tree({
					id: 'tree_area',
					width: 1000,
					height: 240 ,
					fitView: 'autoZoom',
					layoutCfg: {
						direction: 'TB',
						getHGap: function(/* d */) {
							return 10;
						},
						getVGap: function(/* d */) {
							return 50;
						},
					},
				});
				tree.source(data);
				tree.node()
					.label(function (obj) {
						return obj.name;
					})
					.style({
						fillOpacity: 1
					})
				tree.edge().shape('smooth');
				tree.render();
				tree.on('dblclick', function(ev){
					//缺少判断为主机id,ev.item.get('model').id
					pointButton(ev.item.get('model').id);
				});
			}

//			//加载监控点按钮
//			$(function(){
//				var host_id = 1220;
//				pointButton(host_id);
//			})
			function pointButton(host_id) {
				$.ajax({
					type: "get",
					url: "/platformdetail/get_points?host_id="+host_id,
					dataType: "json",
					success: function (result) {
						if(result.success) {
							var data = result.data;
							getpointButton(data);
							/*$('#hostsMenu a').on('click',function () {
							 $('#hostsMenu a').removeClass('active');
							 $(this).addClass('active');
							 pointsMenu(this.id);
							 })*/
						}
						else {
							errorMsg_no_data("监控点按钮 Button");
						}
					},
					error: function () {
						errorMsg_no_connect("监控点按钮 Button");
					}
				})
			}
			function getpointButton(data) {
				var str = '';
				for(var i=0;i<data.length;i++)
				{
					if(data[i].state == '正常'){
						var state = 'ui green top attached button';
					}
					if(data[i].state == '警告'){
						var state = 'ui yellow top attached button';
					}
					if(data[i].state == '严重'){
						var state = 'ui reed top attached button';
					}
					str +="<div class='column'><div class='"+state+"' id='"+data[i].point_id+"' >"+data[i].point_name+"</div> </div>";
				}
				$("#pointButton").html(str);
			}

			//modal点击监控点按钮 进入监控点详情
			$('#pointButton').on('click', '.button',function() {
				var point_id = this.id.substring(1);
				$('.tab_points.menu .item').tab('change tab', 'Summary');
				$("#rowData").empty();
				$("#rowData").append("<table id='tableData' class='ui compact celled table center aligned'> </table>");
				$("#pointDetailArea").text(point_id);
				tabSummary(point_id);
				$('.large.modal').modal('show');
				$('.tab_points.menu .item')
					.tab({
						'onFirstLoad': function (path) {
							if (path === 'Report') {
								tabReport( $('.top.attached.label').attr("data-id") ,40);
							}
							if (path === 'Data') {
								var point_id = $("#pointDetailArea").text();
								var item_id = $("#pointDetailFirstItem").text() ;
								var tableData = $("#tableData").DataTable({
									"orderFixed": [ 0, 'desc' ],
									"paging": false,
									ajax: {
										url: '/pointdetail/get_datas?item_id='+item_id+'&time=40',
										dataSrc: 'data'
									},
									"columnDefs": [ {
										"targets": [ 3 ],
										"visible": false } ] ,
									columns: [
										//item_id
										{
											"data": "last_time",
											"width": "30%",
											"title": "最新时间",
										},
										{
											"data": null,
											"width": "10%",
											"title": "状态",
											"orderable": false,
											render: function (data, type, row, meta) {
												var Color = ['green', 'red', 'yellow', '#d2d2d2', '#2F4056'];
												if (row.state == "正常") {
													var myColor = Color[0]
												}
												if (row.state == "严重") {
													var myColor = Color[1]
												}
												if (row.state == "警告") {
													var myColor = Color[2]
												}
												return '<i class="'+ myColor + ' square icon"></i>';
											}
										},
										{
											"data": "value",
											"width": "30%",
											"title": "值",
											"orderable":false,
										},
										{
											"data": "state",
											"width": "30%",
											"title": "状态",
											"orderable":false,
										},
									],
								});
								dropdownitemsTab(point_id,item_id);
								$('.dropdown.stateTab')
									.dropdown({
										useLabels: false,
										onChange: function(value, text, $selectedItem) {
											if (text == '全部')
											{
												tableData.search('').draw();
											}else {
												tableData.search(text).draw();
											}
										}
									});
								$('.dropdown.itemsTab')
									.dropdown({
										/*useLabels: false,*/
										onChange: function(value, text, $selectedItem) {
											/*console.log("选择的值" + value);*/
											var url=  "/pointdetail/get_datas?item_id="+value+"&time=1";
											tableData.ajax.url(url).load();
											$('.dropdown.stateTab').prop('selectedIndex', 0);
										}
									});
								$('.ui.buttons.Time.Data .button').on('click', function() {
									$('.buttons.Time.Data .button').removeClass('active');
									$(this).addClass('active');
									var item_id = $('.dropdown.itemsTab').dropdown('get value');
									var url=  "/pointdetail/get_datas?item_id="+item_id+"&time="+this.value;
									tableData.ajax.url(url).load();
								})
							}
						}
					});
			});

			//获取监控点详情 概述 标签页数据
			function tabSummary(point_id) {
				$.ajax({
					type: "get",
					url: "/pointdetail?point_id="+point_id,
					data: {},
					dataType: "json",
					success: function (result) {
						if(result.success) {
							var data=result.data;
							//将第一个item赋值给弹出框
							if(data.item_datas.length != 0) {
								$("#pointDetailFirstItem").text(data.item_datas[0].item_id);
							}
							var Color = ['green', 'red', 'yellow', '#d2d2d2', '#2F4056'];
							if (data.state == "正常"){ var myColor = Color[0] }
							if (data.state == "严重"){ var myColor = Color[1] }
							if (data.state == "警告"){ var myColor = Color[2] }
							$('#labelPoints').html("<div class='ui "+myColor+" massive top right attached ribbon label' data-id='"+data.point_id+"'>"+data.point_name+"</div>")
							var str = "";
							for(var i=0;i<data.item_datas.length;i++)
							{
								var mytrColor = '';
								if (data.item_datas[i].with_triggers == true)
								{
									if (data.item_datas[i].state == "正常"){ mytrColor = Color[0] }
									if (data.item_datas[i].state == "严重"){ mytrColor = Color[1] }
									if (data.item_datas[i].state == "警告"){ mytrColor = Color[2] }
								}
								else {
								}
								str +=" <tr id='"+data.item_datas[i].item_id+"' class='"+mytrColor+" tr' ><td>"
									+ data.item_datas[i].item_name +"</td><td>"
									+ data.item_datas[i].value +"</td><td>"
									+ data.item_datas[i].warning_point +"</td><td>"
									+ data.item_datas[i].high_point +"</td><td>"
									+ data.item_datas[i].last_time +"</td></tr> ";
							}
							$("#tableSummary").html(str);
						}
						else {
							errorMsg_no_data("监控点 Tab");
						}
					},
					error: function () {
						errorMsg_no_connect("监控点 Tab");
					}
				});
			}

			//获取监控点详情 图形报告 标签页数据
			function tabReport(point_id,days) {
				var areaoption = {
					title: {
						text: ""
					},
					tooltip: {},
					legend: {
						data:[]
					},
					toolbox: {
						show: true,
						feature: {
							magicType: {type: ['line', 'bar']},
						}
					},
					xAxis: {
						data: {}
					},
					yAxis: {
					},
					series: [{
						name: '',
						type: '',
						areaStyle: {normal: {}},
						data: {},
						color: []
					}]
				};
				var option = {
					title: {
						text: ""
					},
					tooltip: {},
					legend: {
						data:[]
					},
					toolbox: {
						show: true,
						feature: {
							magicType: {type: ['line', 'bar','area']},
						}
					},
					xAxis: {
						data: {}
					},
					yAxis: {
						max:''
					},
					series: [{
						name: '',
						type: '',
						data: {},
						color: [],
						areaStyle:{}
					}]
				};
				$.ajax({
					type: "get",
					url: "/pointdetail/get_graphs?point_id=" + point_id + "&time="+days,
					dataType: "json",
					success: function (result) {
						if(result.success) {
							var data = result.data;
							var str = '';
							$("#chartReport").empty();
							for (var i=0; i<data.length; i++){
								var id="pi"+data[i].item_id;
								str ="<div class='column'><div id='"+id+"' class='chart-style'>"+id+"</div></div></div>";
								$("#chartReport").append(str);
								var Color = ['#5FB878', '#DB2828', '#F7B824', '#d2d2d2', '#2F4056'];
								if (data[i].state == "正常"){ var myColor = Color[0] }
								if (data[i].state == "严重"){ var myColor = Color[1] }
								if (data[i].state == "警告"){ var myColor = Color[2] }
								if(data[i].units == "%"){
									option.yAxis.max = 100;
								}else {
									option.yAxis.max = null;
								}
								var title = "";
								if(data[i].units == "") {
									title = data[i].item_name;
								}else {
									title = data[i].item_name + "(" + data[i].units +")";
								}
								option.title.text = title;
								option.xAxis.data = data[i].data_time;
								option.series[0].name = data[i].graph_name;
								option.series[0].type = data[i].graph_type;
								option.series[0].data = data[i].data;
								option.series[0].color[0] = myColor;
								//面积图存
								areaoption.title.text = title;
								areaoption.xAxis.data = data[i].data_time;
								areaoption.series[0].name = data[i].graph_name;
								areaoption.series[0].type = data[i].graph_type;
								areaoption.series[0].data = data[i].data;
								areaoption.series[0].color[0] = myColor;
								echarts.init(document.getElementById(id)).setOption(option);
							}
							$('.ui.buttons.Time.Report .button').on('click', function() {
								$('.buttons.Time.Report .button').removeClass('active');
								$(this).addClass('active');
								tabReport($('.top.attached.label').attr("data-id") ,this.value);
							})
							$('.ui.buttons.Type.Report .button').on('click', function() {
								$('.buttons.Type.Report .button').removeClass('active');
								$(this).addClass('active');
								option.series[0].type = this.value;
								if (this.value == "area")
								{
									$("div#chartReport .chart-style").each(function(){
										echarts.init(document.getElementById(this.id)).setOption(areaoption);
									})
								}else {
									option.series[0].areaStyle = "";
									$("div#chartReport .chart-style").each(function(){
										echarts.init(document.getElementById(this.id)).setOption(option);
									})
								}
							})
						}
						else {
							errorMsg_no_data("监控点 Tab");
						}
					},
					error: function () {
						errorMsg_no_connect("监控点 Tab");
					}
				});
			}

            function hostAccordion() {
                var platform_id = $("#platform_select").dropdown("get value")[0].split(",")[0];
                $.ajax({
					async:false,
                    type: "get",
                    url: "/platformdetail/get_hosts?platform_id="+platform_id,
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var host_data = result.data;
                            gethostAccordion(host_data);
                        }
                        else {
                            errorMsg_no_data("图形报告 Accordion");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("图形报告 Accordion");
                    }
                })
            }
            function gethostAccordion(data) {
                var str = '';
                var host_ids = new Array();
                for(var i=0;i<data.length;i++)
                {
                    str +="<div class='title'><i class='dropdown icon'></i>"
                        +data[i].host_name+"</div><div class='content' id='g"+data[i].host_id+"'></div>";
                    host_ids.push(data[i].host_id);
                }
                $("#hostAccordion").html(str);
                //获取图形
                getitemsAccordion(host_ids);
            }
            //获取并绘制业务平台图形数据
            function getitemsAccordion(host_ids) {
			    console.log("进入图形数据获取方法，host_ids:"+host_ids);
                $.ajax({
                    type: "post",
                    url:"/platformdetail/get_graphs",
					data:{"host_ids":host_ids},
                    traditional: true,
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var graph_datas = result.data;
							//循环绘制图形
                            for(var i=0;i<graph_datas.length;i++) {
                                //append 图形定位
                                var str_graph ="<div class=' brick small'><div id='g"+graph_datas[i].item_id+"' class='chart-style'>"+graph_datas[i].item_id+"</div></div>";
                                console.log($("#g"+graph_datas[i].host_id).attr("id"));
                                $("#g"+graph_datas[i].host_id).append(str_graph);
                                console.log($("#g"+graph_datas[i].item_id).attr("id"));
                                var myChart = echarts.init(document.getElementById("g"+graph_datas[i].item_id));
                                var Color = ['#5FB878', '#DB2828', '#F7B824', '#d2d2d2', '#2F4056'];
                                if (graph_datas[i].state == "正常"){ var myColor = Color[0] }
                                if (graph_datas[i].state == "严重"){ var myColor = Color[1] }
                                if (graph_datas[i].state == "警告"){ var myColor = Color[2] }
                                var colorGreen = [0.6, '#5FB878'];
                                var colorYellow = [0.8, '#F7B824'];
                                var colorRed = [1, '#FF5722'];
                                if(graph_datas[i].units == "%"){
                                    var ymax = 100;
                                }else {
                                    var ymax = null;
                                }
                                //图形值
                                var title = "";
                                if(graph_datas[i].units == "") {
                                    title = graph_datas[i].graph_name;
                                }else {
                                    title =graph_datas[i].graph_name + "(" + graph_datas[i].units +")";
                                }
                                var option ;
								console.log("图形类型： " + graph_datas[i].graph_type);
                                switch (graph_datas[i].graph_type) {
                                    case "gauge":
                                        option = {
                                            title: {
                                                text: title},
                                            tooltip : {
                                                formatter: "{a} <br/>{b} : {c}%"
                                            },
                                            series: [
                                                {
                                                    name: graph_datas[i].item_name,
                                                    type: 'gauge',
                                                    min:0,
                                                    max:100,
                                                    splitNumber: 5,
                                                    axisLine: {            // 坐标轴线
                                                        lineStyle: {       // 属性lineStyle控制线条样式
                                                            color: [colorGreen,colorYellow,colorRed],
                                                            width: 13
                                                        }
                                                    },
                                                    axisTick: {            // 坐标轴小标记
                                                        length: 18,        // 属性length控制线长
                                                        lineStyle: {       // 属性lineStyle控制线条样式
                                                            color: 'auto'
                                                        }
                                                    },
                                                    splitLine: {           // 分隔线
                                                        length: 22,         // 属性length控制线长
                                                        lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                                            color: 'auto'
                                                        }
                                                    },
                                                    pointer: {
                                                        width:5
                                                    },
                                                    detail: {
                                                        formatter:'{value}%',
                                                        offsetCenter:[0,'60%'],
                                                        textStyle: {
                                                            fontWeight: 'bolder', fontSize: 16,color: '#333',
                                                        }},
                                                    data: [{value: graph_datas[i].datas[0], name: ''}]
                                                }
                                            ]
                                        };
                                        break;
                                    case "area":
                                        option = {
                                            title: {
                                                text: title
                                            },
                                            tooltip: {},
                                            legend: {
                                                data:[]
                                            },
                                            toolbox: {
                                                show: true,
                                                feature: {
                                                    magicType: {type: ['line', 'bar']},
                                                }
                                            },
                                            xAxis: {
                                                data: graph_datas[i].data_time
                                            },
                                            yAxis: {
                                                max: ymax,
                                            },
                                            series: [{
                                                name: graph_datas[i].item_name,
                                                type: 'line',
                                                data: graph_datas[i].data,
                                                areaStyle: {
                                                    normal: { }
                                                },
                                                color: [myColor]
                                            }]
                                        };
                                        break;
                                    default:
										console.log("进入到了line域：");
                                        option = {
                                            title: {
                                                text: title
                                            },
                                            tooltip: {},
                                            legend: {
                                                data:[]
                                            },
                                            toolbox: {
                                                show: true,
                                                feature: {
                                                    magicType: {type: ['line', 'bar']},
                                                }
                                            },
                                            xAxis: {
                                                data: graph_datas[i].data_time
                                            },
                                            yAxis: {
                                                max: ymax,
                                                splitLine:{show: false},
                                            },
                                            series: [{
                                                name: graph_datas[i].item_name,
                                                type: graph_datas[i].graph_type,
                                                data: graph_datas[i].datas,
                                                color: [myColor],
												/*markLine: {
												 lineStyle: {
												 normal: {
												 color: 'gray',
												 }
												 },
												 data: [
												 {name: '危险阈值',
												 yAxis: 80},
												 {name: '警告阈值',
												 yAxis: 60},
												 ]
												 }*/
                                            }]
                                        };
                                }
                                console.log("option::"+option.xAxis.data);
                                myChart.setOption(option);
								console.log("绘图完毕");
							}
                        }
                        else {
                            errorMsg_no_data("图形报告 Accordion");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("图形报告 Accordion");
                    }
                });

            }


			//告警消息
			function errorMsg_no_connect(title) {
				Lobibox.notify("error", {
				size: "normal",
				rounded: false,
				delayIndicator: true,
				msg: "连接服务器失败！",
				icon: "warning icon",
				title: title
				});
			}
			function errorMsg_no_data(title) {
				Lobibox.notify("error", {
				size: "normal",
				rounded: false,
				delayIndicator: true,
				msg: "解析数据失败！",
				icon: "warning icon",
				title: title
				});
			}
     </script>
	</th:block>
</th:block>
</body>
</html>