<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:replace="layout::common_head(~{::title}, ~{::supplement})">
	<meta charset="UTF-8">
	<title>业务列表</title>
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/semantic.js" th:src="@{js/semantic.js}"></script>
	<link rel="stylesheet" href="../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
	<link rel="stylesheet" href="../static/css/icon.css" th:href="@{css/icon.css}"/>
	<link href="../static/css/ionicons.min.css" rel="stylesheet" th:href="@{css/ionicons.min.css}"/>
	<link href="../static/css/main.css" rel="stylesheet" th:href="@{css/main.css}"/>
	<link href="../static/css/pace.css" rel="stylesheet" th:href="@{css/pace.css}"/>
	<link href="../static/css/lobibox.css" rel="stylesheet" th:href="@{css/lobibox.css}"/>
	<th:block th:fragment="supplement">
		<script src="http://rapapi.org/rap.plugin.js?projectId=19544&mode=0"></script>
	</th:block>
</head>
<body>
<!--header start-->
<div id="contextWrap">
	<!--sidebar-->
	<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" data-color="grey"
		 th:replace="layout::left_menu">
		<a class="item logo" href="#">
			<img src="../static/images/logo.png" th:src="@{images/logo.png}" alt="whstone"/><img
				src="../static/images/thumblogo.png" th:src="@{images/thumblogo.png}" alt="whstone"
				class="displaynone"/>
		</a>
		<div class="ui accordion inverted">
			<div class="title item">
                <i class="ion-speedometer titleIcon icon"></i>仪表盘
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/dashboard}">仪表盘</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-ios-world titleIcon  icon"></i>业务概览
			</div>
			<div class="content">
			</div>
			<div class="title item">
				<i class="ion-mouse titleIcon icon"></i>设备监控<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/overview}">设备总览</a>
				<a class="item" href="#">设备详情</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-arrow-graph-up-right titleIcon icon"></i>视图展示
			</div>
			<div class="content">
			</div>
			<div class="title item">
				<i class="ion-paintbrush titleIcon icon"></i>告警展示<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#">告警日历</a>
				<a class="item" href="#">告警列表</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-briefcase titleIcon icon"></i>报表统计
			</div>
			<div class="content">
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>仪表盘1</span>
			<i class="ion-speedometer icon"></i>
			<div class="menu">
				<div class="header">
					仪表盘1
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>业务概览</span>
			<i class="ion-ios-world icon"></i>
			<div class="menu">
				<div class="header">
					业务概览
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>设备监控</span>
			<i class="ion-mouse icon"></i>
			<div class="menu">
				<div class="header">
					设备监控
				</div>
				<div class="ui divider"></div>
				<a class="item" href="tab.html">设备总览</a>
				<a class="item" href="table.html">设备详情</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>视图展示</span>
			<i class="ion-arrow-graph-up-right icon"></i>
			<div class="menu">
				<div class="header">
					视图展示
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>告警展示</span>
			<i class="ion-paintbrush icon"></i>
			<div class="menu">
				<div class="header">
					告警展示
				</div>
				<div class="ui divider"></div>
				<a class="item" href="error.html">告警日历</a>
				<a class="item" href="error.html">告警列表</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>报表统计</span>
			<a href="error.html">
				<i class="ion-briefcase icon"></i>
			</a>
		</div>

		<div class="ui divider"></div>

	</div>

	<!--sidebar-->

	<div class="pusher">
		<!--navbar-->
		<div class="navslide navwrap" th:replace="layout::top_nav">
			<div class="ui menu icon borderless grid" data-color="inverted white">
				<a class="item labeled openbtn">
					<i class="ion-navicon-round big icon"></i>
				</a>
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu colhidden">
					<div class="ui dropdown item labeled icon">
						<i class="bell icon"></i>   告警
						<div class="ui red label mini circular">6</div>
						<div class="menu" >
							<div class="header">
								紧急告警
							</div>
							<div class="item">
								告警信息1……
								<div class="ui teal left pointing label">1</div>
							</div>
							<div class="item">
								告警信息2……
								<div class="ui label">51</div>
							</div>
							<div class="item">
								告警信息3……
								<div class="ui label">1</div>
							</div>
							<div class="header">
								严重告警
							</div>
							<div class="item">
								<i class="dropdown icon"></i>
								<span class="text">更多</span>
								<div class="menu">
									<div class="item">告警信息……</div>
									<div class="item">告警信息……</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui dropdown item">
                        <img class="ui mini circular image" src="../static/images/0.jpg" th:src="@{images/0.jpg}"
                             alt="label-image"/>
						<div class="menu">
							<a class="item" href="#" th:text="${session.userInfo.name}">whstone</a>
							<a class="item" href="mail.html" th:href="@{/logout}">注销</a>
						</div>
					</div>
					<a class="item labeled rightsidebar computer only">
						<i class="ion-wrench large icon"></i>工具
					</a>

				</div>
			</div>
		</div>
		<!--navbar-->
		<!--maincontent-->
		<div class="mainWrap navslide">
			<div class="ui equal width left aligned padded grid stackable">
				<!--Site Content-->
				<div class="sixteen wide column">
					<div class="ui segments">
						<div class="ui segment">
							<h3 class="ui header">
								业务列表
							</h3>
						</div>
						<div class="ui segment" style=" min-height : 500px;">
							<div class="row">
								<table class="ui compact  very basic table center aligned">
									<thead>
									<tr><th width="20%">名称</th>
										<th width="20%">状态</th>
										<th width="10%">健康度（%）</th>
										<th width="10%">严重设备数量</th>
										<th width="20%">警告设备数量</th>
										<th width="20%">总设备数量</th>
									</tr></thead>
									<tbody id="tableSummary" >
									<tr th:each="platformListVO : ${platformListVOS}" >

										<td th:text="${platformListVO.platformName}" width="20%">
											<input text="hidden" th:id="${platformListVO.platformId}" />
											OA</td>
										<td width="20%"><i th:class="${platformListVO.state} == '正常' ? 'green square icon' :(${platformListVO.state} =='警告' ? 'yellow square icon' : 'red square icon') " class="red square icon"></i></td>
										<td th:text="${#numbers.formatDecimal(platformListVO.health, 0, 2)} " width="10%">%</td>
										<td th:text="${platformListVO.highNum}" width="10%">30</td>
										<td th:text="${platformListVO.warningNum}" width="20%">30</td>
										<td th:text="${platformListVO.allNum}" width="20%">30</td>
									</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!--Site Content-->
			</div>
		</div>
		<!--maincontent-->
	</div>
</div>
<th:block th:replace="layout::bottom_script(~{::specialScript})">
	<script src="../static/js/js.cookie.js" th:src="@{js/js.cookie.js}"></script>
	<script src="../static/js/jquery.nicescroll.min.js" th:src="@{js/jquery.nicescroll.min.js}"></script>
	<script data-pace-options='{ "ajax": false }' src="../static/js/pace.js" th:src="@{js/pace.js}"></script>
	<script src="../static/js/main.js" th:src="@{js/main.js}"></script>

    <th:block th:fragment="specialScript">
		<script type="text/javascript">
            $("a").click(function(){
                alert("需要弹出框？");
            });
		</script>
	</th:block>
</th:block>

</body>
</html>