<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::common_head(~{::title}, ~{::supplement})">
	<meta charset="UTF-8">
	<title>问题详情</title>
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/semantic.js" th:src="@{js/semantic.js}"></script>
	<link rel="stylesheet" href="../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
	<link rel="stylesheet" href="../static/css/icon.css" th:href="@{css/icon.css}"/>
	<link href="../static/css/ionicons.min.css" rel="stylesheet" th:href="@{css/ionicons.min.css}"/>
	<link href="../static/css/main.css" rel="stylesheet" th:href="@{css/main.css}"/>
	<link href="../static/css/pace.css" rel="stylesheet" th:href="@{css/pace.css}"/>
	<link href="../static/css/lobibox.css" rel="stylesheet" th:href="@{css/lobibox.css}"/>

	<th:block th:fragment="supplement">
		<script src="../static/js/echarts.min.js" th:src="@{js/echarts.min.js}"></script>
		<script src="../static/js/notifications.js" th:src="@{js/notifications.js}"></script>
		<!--<script src="http://rapapi.org/rap.plugin.js?projectId=19544&mode=0"></script>-->
		<style type="text/css">
			.ui.table.dataTable thead th {
				border-left: 0px;
			}
			.ui.special.popup.confirm{
				max-height: 260px;overflow-y:auto;overflow-x:hidden
			}
			.ui.tab.segment.detail{
				height: 260px;overflow-y:auto;overflow-x:hidden
			}
			.ui.segment.detailconfirm{
				height: 225px;
			}
			.ui.segment.detailalarmed{
				height: 180px;overflow-y:auto;overflow-x:hidden
			}
			.chartBar{ height: 230px; }
		</style>
	</th:block>
</head>
<body>
<!--header start-->
<div id="contextWrap">
	<!--sidebar-->
	<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" data-color="grey"
		 th:replace="layout::left_menu">
		<a class="item logo" href="index.html">
			<img src="../static/images/logo.png" alt="stagblogo"/><img src="../static/images/thumblogo.png"
																	   alt="stagblogo" class="displaynone"/>
		</a>
		<div class="ui accordion inverted">
			<div class="title item">
                <i class="ion-speedometer titleIcon icon"></i>仪表盘
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/dashboard}">仪表盘</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-ios-world titleIcon  icon"></i>业务概览
			</div>
			<div class="content">
			</div>
			<div class="title item">
				<i class="ion-mouse titleIcon icon"></i>设备监控<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/overview}">设备总览</a>
				<a class="item" href="#">设备详情</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-arrow-graph-up-right titleIcon icon"></i>视图展示
			</div>
			<div class="content">
			</div>
			<div class="title item">
				<i class="ion-paintbrush titleIcon icon"></i>告警展示<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#">告警日历</a>
				<a class="item" href="#">告警列表</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-briefcase titleIcon icon"></i>报表统计
			</div>
			<div class="content">
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>仪表盘1</span>
			<i class="ion-speedometer icon"></i>
			<div class="menu">
				<div class="header">
					仪表盘1
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>业务概览</span>
			<i class="ion-ios-world icon"></i>
			<div class="menu">
				<div class="header">
					业务概览
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>设备监控</span>
			<i class="ion-mouse icon"></i>
			<div class="menu">
				<div class="header">
					设备监控
				</div>
				<div class="ui divider"></div>
				<a class="item" href="tab.html">设备总览</a>
				<a class="item" href="table.html">设备详情</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>视图展示</span>
			<i class="ion-arrow-graph-up-right icon"></i>
			<div class="menu">
				<div class="header">
					视图展示
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>告警展示</span>
			<i class="ion-paintbrush icon"></i>
			<div class="menu">
				<div class="header">
					告警展示
				</div>
				<div class="ui divider"></div>
				<a class="item" href="error.html">告警日历</a>
				<a class="item" href="error.html">告警列表</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>报表统计</span>
			<a href="error.html">
				<i class="ion-briefcase icon"></i>
			</a>
		</div>

		<div class="ui divider"></div>

	</div>

	<!--sidebar-->

	<div class="pusher">
		<!--navbar-->
		<div class="navslide navwrap" th:replace="layout::top_nav">
			<div class="ui menu icon borderless grid" data-color="inverted white">
				<a class="item labeled openbtn">
					<i class="ion-navicon-round big icon"></i>
				</a>
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu colhidden">
					<div class="ui dropdown item labeled icon">
						<i class="bell icon"></i>   告警
						<div class="ui red label mini circular">6</div>
						<div class="menu" >
							<div class="header">
								紧急告警
							</div>
							<div class="item">
								告警信息1……
								<div class="ui teal left pointing label">1</div>
							</div>
							<div class="item">
								告警信息2……
								<div class="ui label">51</div>
							</div>
							<div class="item">
								告警信息3……
								<div class="ui label">1</div>
							</div>
							<div class="header">
								严重告警
							</div>
							<div class="item">
								<i class="dropdown icon"></i>
								<span class="text">更多</span>
								<div class="menu">
									<div class="item">告警信息……</div>
									<div class="item">告警信息……</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui dropdown item">
                        <img class="ui mini circular image" src="../static/images/0.jpg" th:src="@{images/0.jpg}"
                             alt="label-image"/>
						<div class="menu">
							<a class="item" href="#" th:text="${session.userInfo.name}">whstone</a>
							<a class="item" href="mail.html" th:href="@{/logout}">注销</a>
						</div>
					</div>
					<a class="item labeled rightsidebar computer only">
						<i class="ion-wrench large icon"></i>工具
					</a>

				</div>
			</div>
		</div>
		<!--navbar-->
		<!--maincontent-->
		<div class="mainWrap navslide">
			<div class="ui equal width left aligned padded grid stackable">
				<!--Site Content-->
				<div class="sixteen wide column">
					<div class="ui segments">
						<div class="ui segment no-padding">
							<div class="ui secondary menu">
								<a class="header item">
									<h3><i class="bar large chart icon"></i>问题详情</h3>
								</a>
								<a class="right item">
									时间段？：
									<select id="ui_dropdown" class="ui dropdown">
										<option value="">选择告警状态</option>
										<option>未告警</option>
										<option>告警失败</option>
										<option>已告警</option>
									</select>
								</a>
							</div>
						</div>
						<div class="ui segment"  style=" min-height : 500px;">
							<div class="sixteen wide column chartBar">
								<div class="ui grid">
									<div class="six wide column">
										<div class="ui segment detailconfirm no-padding">
											<table class="ui very basic compact single line fixed definition table center aligned">
												<tbody id="detailTable">
												<tr>
													<td>所属主机</td>
													<td th:text="${problemDetailVO.hostName}"></td>
												</tr>
												<tr>
													<td>监控点</td>
													<td th:text="${problemDetailVO.pointName}"></td>
												</tr>
												<tr>
													<td>监控项</td>
													<td th:text="${problemDetailVO.itemName}"></td>
												</tr>
												<tr>
													<td>触发器描述</td>
													<td th:text="${problemDetailVO.triggerName}"></td>
												</tr>
												<tr>
													<td>严重性</td>
													<td th:text="${problemDetailVO.level}"></td>
												</tr>
												<tr>
													<td>最新状态</td>
													<td th:text="${problemDetailVO.state}"></td>
												</tr>
												<tr>
													<td>阀值</td>
													<td th:text="${problemDetailVO.hostName}"></td>
												</tr>
												<tr>
													<td style="display: none" id="trigger_id" th:text="${problemDetailVO.triggerId}"></td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="ten wide column">
										<div class="ui segment left aligned detailconfirm">
											<div id="problemChart" class="chartBar"></div>
										</div>
									</div>
									<div class="sixteen wide column">
										<div class="ui segments">
											<div class="ui segment">
												<h4 class="ui header">
													历史记录
												</h4>
											</div>
											<div class="ui segment">
												<table  id="problemsTable" class="ui compact very basic table center aligned ">
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--确认记录提示框 start-->
				<div class="ui special popup confirm">
					<table class="ui very basic compact collapsing celled fixed single line table center aligned">
						<thead>
						<tr>
							<th class="four wide">时间</th>
							<th class="four wide">用户</th>
							<th class="four wide">消息</th>
							<th class="four wide">用户动作</th>
						</tr></thead>
						<tbody id="confirmTable">
						<tr>
							<td colspan="4">无数据</td>
						</tr>
						</tbody>
					</table>
				</div>
				<!--确认记录提示框 end-->
				<!--事件详情模态框 start-->
				<div class="ui big modal detail">
					<div class="content">
						<div class="sixteen wide column">
							<div class="ui grid">
								<div class="eight wide column">
									<div class="ui segments">
										<div class="ui segment">
											<h4 class="ui header">
												事件细节
											</h4>
										</div>
										<div class="ui segment no-padding detailconfirm">
											<table class="ui very basic compact fixed definition table center aligned">
												<tbody id="detailTable_tab">
												<tr>
													<td colspan="2">无数据</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="eight wide column">
									<div class="ui segments">
										<div class="ui segment">
											<h4 class="ui header">
												确认记录
											</h4>
										</div>
										<div class="ui segment detailconfirm">
											<table class="ui very basic compact fixed single line table center aligned">
												<thead>
												<tr>
													<th class="four wide">时间</th>
													<th class="four wide">用户</th>
													<th class="four wide">消息</th>
													<th class="four wide">用户动作</th>
												</tr></thead>
												<tbody id="confirmTable_tab">
												<tr>
													<td colspan="4">无历史确认记录</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="sixteen wide column">
									<div class="ui segments">
										<div class="ui segment">
											<h4 class="ui header">
												告警记录
											</h4>
										</div>
										<div class="ui segment detailalarmed">
											<table class="ui very basic compact fixed single line table center aligned">
												<thead>
												<tr>
													<th class="one wide">步骤</th>
													<th class="three wide">时间</th>
													<th class="two wide">接收者</th>
													<th class="one wide">方式</th>
													<th class="four wide">主题</th>
													<th class="four wide">信息</th>
													<th class="one wide" title="状态(重试次数)">状态(重试次数)</th>
												</tr></thead>
												<tbody id="alarmedTable_tab">
												<tr>
													<td colspan="7">无历史确认记录</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--事件详情模态框 end-->
			</div>
		</div>
		<!--maincontent-->
	</div>
</div>
<th:block th:replace="layout::bottom_script(~{::supple})">
	<script src="../static/js/js.cookie.js" th:src="@{js/js.cookie.js}"></script>
	<script src="../static/js/jquery.nicescroll.min.js" th:src="@{js/jquery.nicescroll.min.js}"></script>
	<script data-pace-options='{ "ajax": false }' src="../static/js/pace.js" th:src="@{js/pace.js}"></script>
	<script src="../static/js/main.js" th:src="@{js/main.js}"></script>
	<th:block th:fragment="supple">
		<script src="../static/js/jquery.dataTables.js" th:src="@{js/jquery.dataTables.js}"></script>
		<script src="../static/js/custom-datatable.js" th:src="@{js/custom-datatable.js}"></script>
		<script src="../static/js/assistantTool.js" th:src="@{js/assistantTool.js}"></script>
		<script type="text/javascript">
            //页面加载完加载基础数据
			$(function() {
                //var event_id="123";
                //初始化事件细节信息
                //detailtable(event_id);
                //加载图形数据
                getproblemchart();
			})
            //加载健康度和图形数据
            function problemchart() {
                $.ajax({
                    type: "get",
                    url: "/platformdetail/get_datas?platform_id="+platform_id,
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var data = result.data;
                            //getproblemchart(data);
                        }
                        else {
                            errorMsg_no_data("图形 Chart");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("图形 Chart");
                    }
                });
            }
            function getproblemchart() {
                //绘制图标数据
                var platform_chart = echarts.init(document.getElementById("problemChart"));
                //配置option
                var data = [
                    [1447923064, 1567933064, 1, 'green'],
                    [1567933064, 1607943064, 1, 'yellow'],
                    [1607943064, 1647953064, 1, 'red'],
                    [1547944064, 0, 0, ' '],
                    [1597955064, 0, 0, ' '],
                    [1647953064, 0, 0, ' '],
                ]
                data = echarts.util.map(data, function(item, index) {
                    return {
                        name: '状态',
                        value: item,
                        itemStyle: {
                            normal: {
                                color: item[3]
                            }
                        }
                    }
                })

                function renderItem(params, api) {
                    var start = api.coord([api.value(0), 0])
                    var end = api.coord([api.value(1), 0])
                    var height = api.size([0, 1])[1] * 0.6;
                    if(api.value(2) === 0) {
                        return {
                            type: 'line',
                            shape: {
                                x1: start[0],
                                y1: start[1] - height / 1.5,
                                x2: start[0],
                                y2: start[1] + height /1.5,
                            },
                            style: {stroke: 'black', lineWidth: 2},
                            z: 100
                        }
                    }
                    return {
                        type: 'rect',
                        shape: echarts.graphic.clipRectByRect({
                            x: start[0],
                            y: start[1] - height / 2,
                            width: end[0] - start[0],
                            height: height
                        }, {
                            x: params.coordSys.x,
                            y: params.coordSys.y,
                            width: params.coordSys.width,
                            height: params.coordSys.height
                        }),
                        style: api.style(),
                        z: 3
                    }
                }

                var option = {
                    tooltip: {
                        formatter: function (params) {
                            return params.marker + params.value[3] + ': ' + params.value[2] + ' ms';
                        }
                    },
                    title: {
                        text: '',
                        left: 'center'
                    },
                    legend: {
                        data: ['bar', 'error']
                    },
                    dataZoom: [{
                        type: 'slider',
                        filterMode: 'weakFilter',
                        showDataShadow: false,
                        top: 190,
                        height: 10,
                        borderColor: 'transparent',
                        backgroundColor: '#e2e2e2',
                        handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7v-1.2h6.6z M13.3,22H6.7v-1.2h6.6z M13.3,19.6H6.7v-1.2h6.6z', // jshint ignore:line
                        handleSize: 20,
                        handleStyle: {
                            shadowBlur: 6,
                            shadowOffsetX: 1,
                            shadowOffsetY: 2,
                            shadowColor: '#aaa'
                        },
                        labelFormatter: '',
                        minSpan: 10
                    }],
                    grid: {
                        height:140,
                        top: '1%',
						left:'5%',
						right:'3%',
                    },
                    xAxis: {
                        type: 'time',
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        data: ['状态']
                    },
                    series: [{
                        type: 'custom',
                        renderItem: renderItem,
                        itemStyle: {
                            normal: {
                                opacity: 0.5
                            }
                        },
                        data: data
                    }]
                };
                //根据配置绘制图形
                platform_chart.setOption(option);
                //点击每个节点，获取时间段
                platform_chart.on('click', function (params) {
                    var calendar =params.data;
                    console.log(calendar.value)
					var starttime=new Date(calendar.value[0])
					if(calendar.value[1]!=0){
                        var endtime=new Date(calendar.value[1])
					}else {
                        var endtime="无";
					}
					alert("开始时间:"+starttime+"结束时间:"+endtime)
                });
            }
		</script>
		<script>
            //连接事件细节信息
            function detailtable(event_id) {
                $.ajax({
                    type: "get",
                    url: "/event/get_detail?event_id=" + event_id,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            var data = result.data;
                            //初始化细节列表
                            getdetailtable(data);
                        } else {
                            errorMsg_no_data("细节列表 modal");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("细节列表 modal");
                    }
                })
            }
            //获取事件细节信息
            function getdetailtable(data){
                var str = '';
                if(data.closed == true){
                    var closed = '已关闭';
                }
                else if(data.closed == false){
                    var closed = '未关闭';
                }
                str += "<tr><td>所属主机</td><td>"
                    +data.host_name+"</td></tr><tr><td>监控点</td><td>"
                    +data.point_name+"</td></tr><tr><td>监控项</td><td>"
                    +data.item_name+"</td></tr><tr><td>阀值</td><td>"
                    +data.threshold+"</td></tr><tr><td>手动关闭(操作人)</td><td>"
                    +closed+"("+data.closed_user+")</td></tr><tr><td>发生时间</td><td>"
                    +data.problem_time+"</td></tr><tr><td>恢复时间</td><td>"
                    +data.recovery_time+"</td></tr><tr><td>触发器描述</td><td title='"+data.trigger_name+"'>"
                    +data.trigger_name+"</td></tr>"
                $("#detailTable").html(str);
            }
            //连接确认记录提示框
            function confirmpopup(event_id) {
                $.ajax({
                    type: "get",
                    url: "/acknowledges/get_acknowledge?event_id=" + event_id,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            var data = result.data;
                            getconfirmpopup(data)
                        } else {
                            errorMsg_no_data("确认记录 Popup");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("确认记录 Popup");
                    }
                })
            }
            //获取确认记录提示框内容
            function getconfirmpopup(data) {
                var str = '';
                for(var i=0;i<data.length;i++)
                {
                    if(data[i].action == '0'){
                        var action = '未确认';
                    }
                    else if(data[i].action == '1'){
                        var action = '已确认';
                    }
                    str += "<tr><td>"
                        +data[i].clock+"</td><td>"
                        +data[i].alias+"</td><td class='left aligned'>"
                        +data[i].message+"</td><td>"
                        +action+"</td></tr>"
                }
                $("#confirmTable").html(str);
            }
            //连接事件详情模态框，细节列表
            function detailmodal(event_id) {
                $.ajax({
                    type: "get",
                    url: "/event/get_detail?event_id=" + event_id,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            var data = result.data;
                            //初始化细节列表
                            getdetailmodal(data);
                        } else {
                            errorMsg_no_data("细节列表 modal");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("细节列表 modal");
                    }
                })
            }
            //获取事件详情模态框，细节列表
            function getdetailmodal(data){
                var str = '';
                if(data.closed == true){
                    var closed = '已关闭';
                }
                else if(data.closed == false){
                    var closed = '未关闭';
                }
                str += "<tr><td>所属主机</td><td>"
                    +data.host_name+"</td></tr><tr><td>监控点</td><td>"
                    +data.point_name+"</td></tr><tr><td>监控项</td><td>"
                    +data.item_name+"</td></tr><tr><td>阀值</td><td>"
                    +data.threshold+"</td></tr><tr><td>触发器描述</td><td  title='"+data.trigger_name+"'>"
                    +data.trigger_name+"</td></tr><tr><td>发生时间</td><td>"
                    +data.problem_time+"</td></tr><tr><td>恢复时间</td><td>"
                    +data.recovery_time+"</td></tr><tr><td>手动关闭(操作人)</td><td>"
                    +closed+"("+data.closed_user+")</td></tr>"
                $("#detailTable_tab").html(str);
            }

            //连接事件详情模态框，确认列表
            function detailconfirm(event_id) {
                $.ajax({
                    type: "get",
                    url: "/acknowledges/get_acknowledge?event_id=" + event_id,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            var data = result.data;
                            //初始化细节列表
                            getdetailconfirm(data);
                        } else {
                            errorMsg_no_data("确认列表 modal");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("确认列表 modal");
                    }
                })
            }

            //获取事件详情模态框，确认列表
            function getdetailconfirm(data){
                var str = '';
                for(var i=0;i<data.length;i++)
                {
                    if(data[i].action == '0'){
                        var action = '未确认';
                    }
                    else if(data[i].action == '1'){
                        var action = '已确认';
                    }
                    str += "<tr><td>"
                        +data[i].clock+"</td><td>"
                        +data[i].alias+"</td><td class='left aligned'>"
                        +data[i].message+"</td><td>"
                        +action+"</td></tr>"
                }
                $("#confirmTable_tab").html(str);
            }

            //连接事件详情模态框，记录列表
            function detailrecord(event_id) {
                $.ajax({
                    type: "get",
                    url: "/alerts/get_detail?event_id=" + event_id,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            var data = result.data;
                            //初始化细节列表
                            getdetailrecord(data);
                        } else {
                            errorMsg_no_data("记录列表 modal");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("记录列表 modal");
                    }
                })
            }

            //获取事件详情模态框，记录列表
            function getdetailrecord(data){
                var str = '';
                for(var i=0;i<data.length;i++)
                {
                    str += "<tr><td>"
                        +data[i].esc_step+"</td><td>"
                        +data[i].last_time+"</td><td>"
                        +data[i].sendto+"</td><td>"
                        +data[i].alert_type+"</td><td class='left aligned' title='"+data[i].subject+"'>"
                        +data[i].subject+"</td><td class='left aligned' title='"+data[i].message+"'>"
                        +data[i].message+"</td><td>"
                        +data[i].status+"("+data[i].retries+")</td></tr>"
                }
                $("#alarmedTable_tab").html(str);
            }

		</script>
		<script>
            $(document).ready(function() {
                //初始当前问题列表
				var trigger_id=$("#trigger_id").text();
				console.log("triggerId",trigger_id);
                var problems_Table = $("#problemsTable").DataTable({
                    "iDisplayLength" : 5,
                    "ordering":false,
                    "createdRow": function (row, data, dataIndex) {
                        $('td', row).eq(3).addClass('right aligned');
                    },
                    "drawCallback": function () {//初始化后回调
                        //点击开始时间，事件详情事件
						$('#problemsTable a.detail').on('click',function(){
							var event_id=$(this).attr("data-id");
							//初始化事件详情模态框
							detailmodal(event_id);
							detailconfirm(event_id);
							detailrecord(event_id);
							$('.ui.modal.detail').modal('show');
						})
                        //浮动确认记录事件
                        $('#problemsTable a.confirm').hover(function() {
                            var event_id=$(this).attr("data-id");
                            confirmpopup(event_id);
                        }).popup({
                            popup: '.special.popup.confirm',
                            inline: true,
                            hoverable  : true,
                            delay: {
                                show: 800,
                                hide: 300
                            }
                        });
                    },
                    ajax: {
                        url: '/problem/detail_list?trigger_id=' + trigger_id,
                        dataSrc: 'data'
                    },
                    columns: [
                        {
                            "data": null,
                            "width": "20%",
                            "title": "开始时间",
                            "orderable": false,
                            render: function(data, type, row, meta) {
								return '<a href="javascript:void(0)" data-id="'+row.event_id+'" class="detail">' + row.begin_time + '</a>';
                            }
                        },
                        {
                            "data": "end_time",
                            "width": "20%",
                            "title": "结束时间",
                            "orderable": false,
                        },
                        {
                            "data": "status",
                            "width": "20%",
                            "title": "状态",
                            "orderable": false,
                        },
                        {
                            "data": "duration_string",
                            "width": "20%",
                            "title": "持续时间",
                            "orderable": false,
                        },
                        {
                            "data": null,
                            "width": "10%",
                            "title": "确认",
                            "orderable": false,
                            render: function(data, type, row, meta) {
                                if(row.acknowledged == "是"){
                                    return '<a href="javascript:void(0)" data-id="'+row.event_id+'" class="confirm">' + row.acknowledged + '</a>';
                                }
                                else {
                                    return row.acknowledged;
                                }
                            }
                        },
                        {
                            "data": "recover_time",
                            "width": "10%",
                            "title": "告警",
                            "orderable": false,
                            render: function(data, type, row, meta) {
                                if(row.alert_state == "无"){
                                    return row.alert_state;
                                }
                                else {
                                    return row.alert_state + '(' + row.alert_num + ')';
                                }
                            }
                        }
                    ],
                });
            })
		</script>
	</th:block>
</th:block>
</body>
</html>