<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::common_head(~{::title}, ~{::supplement})">
	<meta charset="UTF-8">
	<title>问题详情</title>
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/semantic.js" th:src="@{js/semantic.js}"></script>
	<link rel="stylesheet" href="../static/css/semantic.css" th:href="@{/css/semantic.css}"/>
	<link rel="stylesheet" href="../static/css/icon.css" th:href="@{css/icon.css}"/>
	<link href="../static/css/ionicons.min.css" rel="stylesheet" th:href="@{css/ionicons.min.css}"/>
	<link href="../static/css/main.css" rel="stylesheet" th:href="@{css/main.css}"/>
	<link href="../static/css/pace.css" rel="stylesheet" th:href="@{css/pace.css}"/>
	<link href="../static/css/lobibox.css" rel="stylesheet" th:href="@{css/lobibox.css}"/>

	<th:block th:fragment="supplement">
		<script src="../static/js/echarts.min.js" th:src="@{js/echarts.min.js}"></script>
		<script src="../static/js/notifications.js" th:src="@{js/notifications.js}"></script>
		<script src="http://rapapi.org/rap.plugin.js?projectId=19544&mode=0"></script>
		<style type="text/css">
			.chartBar{ height: 140px; }
		</style>
	</th:block>
</head>
<body>
<!--header start-->
<div id="contextWrap">
	<!--sidebar-->
	<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" data-color="grey"
		 th:replace="layout::left_menu">
		<a class="item logo" href="index.html">
			<img src="../static/images/logo.png" alt="stagblogo"/><img src="../static/images/thumblogo.png"
																	   alt="stagblogo" class="displaynone"/>
		</a>
		<div class="ui accordion inverted">
			<div class="title item">
                <i class="ion-speedometer titleIcon icon"></i>仪表盘
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/dashboard}">仪表盘</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-ios-world titleIcon  icon"></i>业务概览
			</div>
			<div class="content">
			</div>
			<div class="title item">
				<i class="ion-mouse titleIcon icon"></i>设备监控<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#" th:href="@{/overview}">设备总览</a>
				<a class="item" href="#">设备详情</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-arrow-graph-up-right titleIcon icon"></i>视图展示
			</div>
			<div class="content">
			</div>
			<div class="title item">
				<i class="ion-paintbrush titleIcon icon"></i>告警展示<i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="#">告警日历</a>
				<a class="item" href="#">告警列表</a>
			</div>
			<div class="title item" href="#">
				<i class="ion-briefcase titleIcon icon"></i>报表统计
			</div>
			<div class="content">
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>仪表盘1</span>
			<i class="ion-speedometer icon"></i>
			<div class="menu">
				<div class="header">
					仪表盘1
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>业务概览</span>
			<i class="ion-ios-world icon"></i>
			<div class="menu">
				<div class="header">
					业务概览
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>设备监控</span>
			<i class="ion-mouse icon"></i>
			<div class="menu">
				<div class="header">
					设备监控
				</div>
				<div class="ui divider"></div>
				<a class="item" href="tab.html">设备总览</a>
				<a class="item" href="table.html">设备详情</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>视图展示</span>
			<i class="ion-arrow-graph-up-right icon"></i>
			<div class="menu">
				<div class="header">
					视图展示
				</div>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>告警展示</span>
			<i class="ion-paintbrush icon"></i>
			<div class="menu">
				<div class="header">
					告警展示
				</div>
				<div class="ui divider"></div>
				<a class="item" href="error.html">告警日历</a>
				<a class="item" href="error.html">告警列表</a>
			</div>
		</div>

		<div class="ui dropdown item displaynone scrolling">
			<span>报表统计</span>
			<a href="error.html">
				<i class="ion-briefcase icon"></i>
			</a>
		</div>

		<div class="ui divider"></div>

	</div>

	<!--sidebar-->

	<div class="pusher">
		<!--navbar-->
		<div class="navslide navwrap" th:replace="layout::top_nav">
			<div class="ui menu icon borderless grid" data-color="inverted white">
				<a class="item labeled openbtn">
					<i class="ion-navicon-round big icon"></i>
				</a>
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu colhidden">
					<div class="ui dropdown item labeled icon">
						<i class="bell icon"></i>   告警
						<div class="ui red label mini circular">6</div>
						<div class="menu" >
							<div class="header">
								紧急告警
							</div>
							<div class="item">
								告警信息1……
								<div class="ui teal left pointing label">1</div>
							</div>
							<div class="item">
								告警信息2……
								<div class="ui label">51</div>
							</div>
							<div class="item">
								告警信息3……
								<div class="ui label">1</div>
							</div>
							<div class="header">
								严重告警
							</div>
							<div class="item">
								<i class="dropdown icon"></i>
								<span class="text">更多</span>
								<div class="menu">
									<div class="item">告警信息……</div>
									<div class="item">告警信息……</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui dropdown item">
                        <img class="ui mini circular image" src="../static/images/0.jpg" th:src="@{images/0.jpg}"
                             alt="label-image"/>
						<div class="menu">
							<a class="item" href="#" th:text="${session.userInfo.name}">whstone</a>
							<a class="item" href="mail.html" th:href="@{/logout}">注销</a>
						</div>
					</div>
					<a class="item labeled rightsidebar computer only">
						<i class="ion-wrench large icon"></i>工具
					</a>

				</div>
			</div>
		</div>
		<!--navbar-->
		<!--maincontent-->
		<div class="mainWrap navslide">
			<div class="ui equal width left aligned padded grid stackable">
				<!--Site Content-->
				<div class="sixteen wide column">
					<div class="ui segments">
						<div class="ui segment no-padding">
							<div class="ui secondary menu">
								<a class="header item">
									<h3><i class="bar large chart icon"></i>问题详情</h3>
								</a>
								<a class="right item">
									告警状态：
									<select id="ui_dropdown" class="ui dropdown">
										<option value="">选择告警状态</option>
										<option>未告警</option>
										<option>告警失败</option>
										<option>已告警</option>
									</select>
								</a>
							</div>
						</div>
						<div class="ui segment"  style=" min-height : 500px;">
							<div class="sixteen wide column chartBar">
								<div class="ui grid">
									<div class="six wide column">
										<div class="ui segment left aligned">
											<table class="ui very basic single line table chartBar  center aligned">
												<tbody>
												<tr>
													<td class="eight wide"><h4 class="ui header">所属主机:</h4></td>
													<td class="eight wide">设备名称</td>
												</tr>
												<tr>
													<td><h4 class="ui center aligned header">监控点名称:</h4></td>
													<td>127.0.0.124</td>
												</tr>
												<tr>
													<td><h4 class="ui center aligned header">监控项名称:</h4></td>
													<td>type</td>
												</tr>
												<tr>
													<td><h4 class="ui center aligned header">阀值:</h4></td>
													<td>阀值</td>
												</tr>
												<tr>
													<td><h4 class="ui center aligned header">触发器描述:</h4></td>
													<td>触发器描述</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="ten wide column">
										<div class="ui segment left aligned row1Height">
											<div id="problemChart" class="chartBar"></div>
										</div>
									</div>
									<div class="sixteen wide column">
										<div  class="ui segment">
											<div id="host_table_dimmer" class="ui inverted dimmer">
												<div class="ui text loader">加载</div>
											</div>
											<table  id="host_table" class="ui compact very basic table center aligned ">
												<!--静态数据 start-->
												<thead>
												<tr>
													<th class="four wide">开始时间</th>
													<th class="four wide">结束时间</th>
													<th class="four wide">状态[问题/问题（已恢复）/正常]</th>
													<th class="two wide">持续时间</th>
													<th class="two wide">确认[是/否/无]</th>
												</tr></thead>
												<tbody>
												<tr>
													<td>2017-8-22 15:10:03</td>
													<td>2017-8-22 15:10:03</td>
													<td style="color: yellow">问题（已恢复）</td>
													<td>2秒</td>
													<td>无</td>
												</tr>
												<tr>
													<td>2017-8-22 15:10:03</td>
													<td>2017-8-22 15:10:03</td>
													<td style="color: red">问题</td>
													<td>2秒</td>
													<td><a href="javascript:void(0)" class="confirm">是</a></td>
												</tr>
												<tr>
													<td>2017-8-22 15:10:03</td>
													<td>2017-8-22 15:10:03</td>
													<td style="color: green">正常</td>
													<td>2秒</td>
													<td><a href="javascript:void(0)" class="confirm"  id="是pop_id">是</a></td>
												</tr>
												</tbody>
												<!--静态数据 end-->
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--已告警提示框 start-->
				<div class="ui special popup alarmed">
					<table id="alarmedTable" class="ui very basic compact collapsing celled fixed single line table">
						<!--静态数据 start-->
						<thead>
						<tr>
							<th class="four wide">步骤</th>
							<th class="four wide">时间</th>
							<th class="four wide">状态（重试次数）</th>
							<th class="four wide">接收者</th>
						</tr></thead>
						<tbody>
						<tr>
							<td>1</td>
							<td>2017-08-12 11:13:39</td>
							<td>已发送通知(0)</td>
							<td>chen[chenzhq.2@gmail.com]</td>
						</tr>
						<tr>
							<td>2</td>
							<td>2017-08-12 11:13:39</td>
							<td>已发送通知(1)</td>
							<td>admin[admin@gmail.com]</td>
						</tr>
						<tr>
							<td>1</td>
							<td>2017-08-12 11:13:39</td>
							<td>已发送通知(0)</td>
							<td>admin[admin@gmail.com]</td>
						</tr>
						</tbody>
						<!--静态数据 end-->
					</table>
				</div>
				<!--已告警提示框 end-->
				<!--确认记录提示框 start-->
				<div class="ui special popup confirm">
					<table id="confirmTable" class="ui very basic compact collapsing celled fixed single line table">
						<!--静态数据 start-->
						<thead>
						<tr>
							<th class="four wide">时间</th>
							<th class="four wide">用户</th>
							<th class="four wide">消息</th>
							<th class="four wide">用户动作</th>
						</tr></thead>
						<tbody>
						<tr>
							<td>2017-8-22 15:10:03</td>
							<td>yans(12312@qq.com)</td>
							<td>主机1内存使用率超过90%</td>
							<td>已关闭</td>
						</tr>
						<tr>
							<td>2017-8-22 15:10:03</td>
							<td>yans(12312@qq.com)</td>
							<td>主机1内存使用率超过90%</td>
							<td>未关闭</td>
						</tr>
						<tr>
							<td>2017-8-22 15:10:03</td>
							<td>yans(12312@qq.com)</td>
							<td>主机1内存使用率超过90%</td>
							<td></td>
						</tr>
						</tbody>
						<!--静态数据 end-->
					</table>
				</div>
				<!--确认记录提示框 end-->
			</div>
		</div>
		<!--maincontent-->
	</div>

<th:block th:replace="layout::bottom_script(~{::supple})">
	<script src="../static/js/js.cookie.js" th:src="@{js/js.cookie.js}"></script>
	<script src="../static/js/jquery.nicescroll.min.js" th:src="@{js/jquery.nicescroll.min.js}"></script>
	<script data-pace-options='{ "ajax": false }' src="../static/js/pace.js" th:src="@{js/pace.js}"></script>
	<script src="../static/js/main.js" th:src="@{js/main.js}"></script>
	<th:block th:fragment="supple">
		<script src="../static/js/jquery.dataTables.js" th:src="@{js/jquery.dataTables.js}"></script>
		<script src="../static/js/custom-datatable.js" th:src="@{js/custom-datatable.js}"></script>
		<script src="../static/js/assistantTool.js" th:src="@{js/assistantTool.js}"></script>
		<script type="text/javascript">
            //页面加载完加载基础数据
			$(function() {
                //初始折叠菜单
                //加载图形数据
                getproblemchart();
			})
            //加载健康度和图形数据
            function problemchart() {
                $.ajax({
                    type: "get",
                    url: "/platformdetail/get_datas?platform_id="+platform_id,
                    dataType: "json",
                    success: function (result) {
                        if(result.success) {
                            var data = result.data;
                            //getproblemchart(data);
                        }
                        else {
                            errorMsg_no_data("图形 Chart");
                        }
                    },
                    error: function () {
                        errorMsg_no_connect("图形 Chart");
                    }
                });
            }
            function getproblemchart() {
                //绘制图标数据
                var platform_chart = echarts.init(document.getElementById("problemChart"));
                //配置option
                var option = {
                    title: {
                        show:true,
                        text: '',
                        top:'-5px'
                    },
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {
                            type : false
                        }
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'right',
                        y: 'center',
                        data:['严重','警告','正常']
                    },
                    grid: {
                        left: '2%',
                        right: '10%',
                        bottom: '0%',
                        top:'3%',
                        containLabel: true
                    },
                    xAxis:  {
                        type: 'value',
                        splitLine:{show: false},
                        minInterval : 1
                    },
                    yAxis: {
                        type: 'category',
                        data: ['状态']
                        //data: platform_data.types
                    },
                    series: [
                        {
                            name: '正常',
                            type: 'bar',
                            stack: '设备总数',


                            data: ['2'],
                            //data: platform_data.datas[0],
                            color: ['#5FB878']
                        },
                        {
                            name: '警告',
                            type: 'bar',
                            stack: '设备总数',
                            barWidth : 25,
                            data: ['2'],
                            //data: platform_data.datas[1],
                            color: ['#F7B824']
                        },
                        {
                            name: '严重',
                            type: 'bar',
                            stack: '设备总数',
                            barWidth : 25,
                            data: ['2'],
                            //data: platform_data.datas[2],
                            color: ['#DB2828']
                        }
                    ]
                };
                //根据配置绘制图形
                platform_chart.setOption(option);
            }
		</script>
	</th:block>
</th:block>
</body>
</html>