<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>监控系统</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../static/js/semantic.js"></script>
	<link rel="stylesheet" href="../static/css/semantic.css"  />
	<link rel="stylesheet" href="../static/css/icon.css"  />
	<style type="text/css">
		.ui.accordion .accordion {
			margin: 0em 0em 0em ;
		}
		.ui.styled.accordion, .ui.styled.accordion .accordion {
			box-shadow: 0px 0px 0px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 0px rgba(34, 36, 38, 0.15);
		}
		.ui.styled.accordion .title, .ui.styled.accordion .accordion .title {
			font-weight:normal;
			border-top: 0px solid rgba(34, 36, 38, 0.15);
			border-bottom: 1px solid rgba(34, 36, 38, 0.15);
		}
		.ui.styled.accordion .content, .ui.styled.accordion .accordion .content {
			padding: 0em 0em  0em 0em;
		}
		.indent_one{
			margin-left: 1em;
			margin-right: -1em;
		}
		.indent_two{
			margin-left: 2em;
			margin-right: -2em;
		}
		.indent_three{
			margin-left: 3em;
			margin-right: -3em;
		}
	</style>
</head>
<body>
	<div class="ui segment">

		<p>检测总数：36个设备的222个监测点。
		<i class="red circle icon"></i>  30
		<i class="yellow circle icon"></i>  50
		<i class="green circle icon"></i>  122
		<i class="grey circle icon"></i>  20
		</p>

		<h3 class="ui header"><i class="bar chart icon"></i>实时报告</h3>
		<div class="ui hidden divider"></div>

		<div class="ui styled fluid accordion">
			<div class="active title">
				<div class="ui grid">
					<div class="four wide column">
						<i class="dropdown icon"></i>
						<i class="red database icon"></i>监测点名称
					</div>
					<div class="four wide column">类型</div>
					<div class="one wide column">状态</div>
					<div class="one wide column">备注</div>
					<div class="three wide column">最新数据时间</div>
					<div class="three wide column">操作</div>
				</div>
			</div>
			<div class="active content">
				<div class="accordion">
					<div class="active title">
						<div class="ui grid">
							<div class="four wide column">
								<div class="indent_one">
								<i class="dropdown icon"></i>
								<i class="red server icon" ></i>OA系统
								</div>
							</div>
							<div class="four wide column">业务系统</div>
							<div class="one wide column">OK</div>
							<div class="one wide column">OK</div>
							<div class="three wide column">2017年6月6日13:54:51</div>
							<div class="three wide column">操作</div>
						</div>
					</div>
					<div class="active content">
						<div class="accordion">
							<div class="title">
								<div class="ui grid">
									<div class="four wide column">
										<div   class="indent_two">
											<i class="dropdown icon"></i>
											<i class="red server icon" ></i>127.0.0.1
										</div>
									</div>
									<div class="four wide column">操作设备</div>
									<div class="one wide column">OK</div>
									<div class="one wide column">OK</div>
									<div class="three wide column">2017年6月6日13:54:51</div>
									<div class="three wide column">操作</div>
								</div>
							</div>
							<div class="active content">
								<div class="accordion">
									<div class="title">
										<div class="ui grid">
											<div class="four wide column">
												<div   class="indent_three">
													<i class="red circle icon"></i>CPU
												</div>
											</div>
											<div class="four wide column">Agent监控</div>
											<div class="one wide column">OK</div>
											<div class="one wide column">OK</div>
											<div class="three wide column">2017年6月6日13:54:51</div>
											<div class="three wide column">操作</div>
										</div>
									</div>
									<div class="content"></div>
									<div class="title">
										<div class="ui grid">
											<div class="four wide column">
												<div   class="indent_three">
													<i class="red circle icon"></i>内存
												</div>
											</div>
											<div class="four wide column">Agent监控</div>
											<div class="one wide column">OK</div>
											<div class="one wide column">OK</div>
											<div class="three wide column">2017年6月6日13:54:51</div>
											<div class="three wide column">操作</div>
										</div>
									</div>
									<div class="content"></div>
									<div class="title">
										<div class="ui grid">
											<div class="four wide column">
												<div   class="indent_three">
													<i class="red circle icon"></i>Ping
												</div>
											</div>
											<div class="four wide column">Agent监控</div>
											<div class="one wide column">OK</div>
											<div class="one wide column">OK</div>
											<div class="three wide column">2017年6月6日13:54:51</div>
											<div class="three wide column">操作</div>
										</div>
									</div>
									<div class="content"></div>
								</div>
							</div>
							<div class="title">
								<div class="ui grid">
									<div class="four wide column">
										<div   class="indent_two">
										<i class="dropdown icon"></i>
										<i class="yellow desktop icon"></i>127.0.0.2
										</div>
									</div>
									<div class="four wide column">网络设备</div>
									<div class="one wide column">OK</div>
									<div class="one wide column">OK</div>
									<div class="three wide column">2017年6月6日13:54:51</div>
									<div class="three wide column">操作</div>
								</div>
							</div>
						</div>
					</div>
					<div class="title">
						<div class="indent_one">
						<i class="dropdown icon"></i>
						<i class="grey server icon"></i>操作系统2
						</div>
					</div>
					<div class="content"></div>
					<div class="title">
						<div class="indent_one">
						<i class="dropdown icon"></i>
						<i class="green server icon"></i>操作系统3
						</div>
					</div>
					<div class="content"></div>
				</div>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				级别 2
			</div>
			<div class="content">
				<div class="accordion">
					<div class="active title">
						<i class="dropdown icon"></i>
						级别 2A
					</div>
					<div class="active content">
						<div class="accordion">
							<div class="title">
								<i class="dropdown icon"></i>
								级别 2A-A
							</div>
							<div class="content">

							</div>
							<div class="title">
								<i class="dropdown icon"></i>
								级别 2A-B
							</div>
							<div class="content">

							</div>
						</div>
					</div>
					<div class="title">
						<i class="dropdown icon"></i>
						级别 2B
					</div>
					<div class="content">

					</div>
					<div class="title">
						<i class="dropdown icon"></i>
						级别 2C
					</div>
					<div class="content">

					</div>
				</div>
			</div>
		</div>
	<script>
        //折叠菜单初始化
		$('.ui.accordion')
			.accordion()
		;
	</script>
	</div>
</body>
</html>