<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- 引入 echarts.js -->
        <script src="js/echarts.min.js"></script>
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<!-- 主内容开始--->
			<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
			<div id="main" style="width: 200px;height:300px;"></div>
			<!-- 主内容结束-->
			<script type="text/javascript">
				// 基于准备好的dom，初始化echarts实例例
				var myChart = echarts.init(document.getElementById('main'));
		
				// 指定图表的配置项和数据
				// Schema:
				// date,AQIindex,PM2.5,PM10,CO,NO2,SO2
				var dataBJ = [
					[55,9,56,0.46,18,6,1],
					[25,11,21,35,34,9,2],
					[56,7,63,3,14,5,3],
					[33,7,29,33,16,6,4],
					[42,24,44,6,40,16,5],
				];
				
				var dataGZ = [
					[26,37,27,13,27,13,1],
					[85,62,71,15,60,8,2],
					[78,38,74,1.63,37,7,3],
					[21,21,36,34,40,9,4],
					[41,42,46,15,81,13,5],
				];
				
				var dataSH = [
					[91,45,25,2,34,23,1],
					[65,27,78,46,45,29,2],
					[83,60,84,19,73,27,3],
					[109,81,21,28,68,51,4],
					[106,77,14,17,55,51,5],
				];
				
				var lineStyle = {
					normal: {
						width: 2,
						opacity: 0.8
					}
				};

				var option = {
						//backgroundColor: '#161627',
						legend: {//脚标
							bottom: 5,
							data: ['HIS', 'PACS', '网站'],//与下部分一一对应
							itemGap: 10,
							textStyle: {
								color: '#000',
							},
							selectedMode: 'single'
						},
						radar: {
							indicator: [
								{name: '可用', max: 100},
								{name: '健康', max: 100},
								{name: '繁忙', max: 100},
								{name: '故障', max: 50},
								{name: '危险', max: 100},
								{name: '未知', max: 100}
							],
							shape: 'circle',
							splitNumber: 5,
							name: {//脚标(radar.name)颜色
								textStyle: {
									color: 'rgb(238, 197, 102)'
								}
							},
							splitLine: {//圈圈渐变颜色
								lineStyle: {
									color: [
										'rgba(238, 197, 102, 0.1)', 'rgba(238, 197, 102, 0.2)',
										'rgba(238, 197, 102, 0.4)', 'rgba(238, 197, 102, 0.6)',
										'rgba(238, 197, 102, 0.8)', 'rgba(238, 197, 102, 1)'
									].reverse()
								}
							},
							splitArea: {
								show: false
							},
							axisLine: {//坐标轴颜色
								lineStyle: {
									color: 'rgba(238, 197, 102, 0.5)'
								}
							}
						},
						series: [
							{
								name: 'HIS',
								type: 'radar',
								lineStyle: lineStyle,
								data: dataBJ,
								symbol: 'none',
								itemStyle: {
									normal: {
										color: '#FF5722'
									}
								},
								areaStyle: {
									normal: {
										opacity: 0.3
									}
								}
							},
							{
								name: 'PACS',
								type: 'radar',
								lineStyle: lineStyle,
								data: dataSH,
								symbol: 'none',
								itemStyle: {
									normal: {
										color: '#F7B824'
									}
								},
								areaStyle: {
									normal: {
										opacity: 0.3
									}
								}
							},
							{
								name: '网站',
								type: 'radar',
								lineStyle: lineStyle,
								data: dataGZ,
								symbol: 'none',
								itemStyle: {
									normal: {
										color: '#5FB878'
									}
								},
								areaStyle: {
									normal: {
										opacity: 0.3
									}
								}
							}
						]
					};
		
				// 使用刚指定的配置项和数据显示图表。
				myChart.setOption(option);				
			</script>
			
			<script type="text/javascript" src="plugins/layui/layui.js"></script>

		</div>
	</body>

</html>